/*==========================================================================================
    affix
============================================================================================*/

.faq-bg{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('http://www.anywalls.com/large/201211/51689.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.faq-page {
    overflow: hidden;
}

.affix {
    top: 60px;
    width: 23%;
}

.affix, .affix-top {
    background: rgba(255, 255, 255, 0.9);
    height: 100vh;
}

.faq-page>.col-sm-9 {
    background: rgba(255, 255, 255, 0.9);
    color:  #252525
}

.faq-page>.col-sm-9>div:first-child {
    padding-top: 20px;
}

.faq-page>.col-sm-9>div {
    height: 100%;
    font-size: 16px;
}

.faq-page>.col-sm-9>div h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 0px;
    line-height: 31px;
    padding: 0;
    position: relative;
    letter-spacing: 1px;
    font-family: "PT Sans Caption", Helvetica, Arial, sans-serif;
    color: #00aeef;
    cursor: pointer;
}

.faq-page .nav-pills>li.active>a, .faq-page .nav-pills>li.active>a:hover, .faq-page .nav-pills>li.active>a:focus {
    background: #eee;
    color: #00AEEF;
    font-weight: bold;
    -webkit-box-shadow: 0px 1px 5px 1px #e4e4e4;
    -moz-box-shadow: 0px 1px 5px 1px #e4e4e4;
    box-shadow: 0px 1px 5px 1px #e4e4e4;
}


.faq-page .nav li > a {
    padding: 2px 10px;
}

.faq-page .nav-pills>li>a{
    border-radius: 0;
    padding: 10px 15px;
    font-weight: normal;
    font-size: 16px;
    color: #00aeef;
}

.faq-page .nav>li>a:hover, .nav>li>a:focus {
    color: #00AEEF;
    font-weight: bold;
}

.title{
    font-weight: bold;
}

.faq-page .sub-dropdown {
    padding: 10px 0 10px 24px;
    display: none;
}

.faq-page .sub-dropdown.active {
    display: block;
}


.faq-page .nav>li.open>ul, .nav>li.active>ul{
    display: block;
}


.faq-page .sub-dropdown>li>a {
    padding: 0;
    color: #252525;
    font-size: 14px;
    text-decoration: underline;
}

.faq-page .sub-dropdown>li.active>a{
    color: #00aeef;
}

.faq-page .sub-dropdown>li>a:hover, .sub-dropdown>li>a:focus {
    background: none;
    color: #00aeef;
}
.faq-page .section:first-child {
    margin-top: 15px;
}

.faq-page .section{
    background: #fff;
    padding: 15px;
    background: #fff;
    padding: 15px;
    -webkit-box-shadow: 0px 1px 5px 1px #e4e4e4;
    -moz-box-shadow: 0px 1px 5px 1px #e4e4e4;
    box-shadow: 0px 1px 5px 1px #e4e4e4;
}
.faq-page .section:nth-child(odd) {
    background: #f9f9f9;
}

.faq-page .content img{
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.faq-page hr {
    margin: 10px 0;
}


@media screen and (max-width: 810px) {
    #section1, #section2, #section3, #section41, #section42  {
        margin-left: 150px;
    }
}