.curs{font:14pt Tahoma,Verdana,Helvetica,sans-serif;width:160px;}
.usd{color:#008001;}
.eur{color:#006ac4;}
.l-usd{width: 20px;}
.l-sd{padding:0 30px;border-bottom:#cccccc 1px dotted; padding-left:40px;}

