.funny-test-list h2 {line-height:20px;}
.funny-test-item li {font-size:150%}
/* ==========================================================================
   17. About Me
========================================================================== */
/* 17.1 Wrapper
---------------------------------------------------------------------------*/
.about-me-wrapper { width: 100%; }
.about-me { width: 100%; }

/* 17.2 image Cover
---------------------------------------------------------------------------*/
.about-me .img-cover {
    z-index: 1;
    position: relative;
}

/* 17.3 image
---------------------------------------------------------------------------*/
.about-me .member-img {
    width: 150px;
    height: 250px;
    margin: -115px 0 30px 30px;
    z-index: 2;
    position: relative;
}

/* 17.4 info
---------------------------------------------------------------------------*/
.about-me .member-info {
    z-index: 3;
    position: relative;
    margin: -104px 0 30px 180px;
}

/* 17.5 Typography
---------------------------------------------------------------------------*/
.about-me .member-info h2,
.about-me .member-info h3 {
    padding: 0 10px;
    padding-bottom: 0;
    text-transform: uppercase;
}
.about-me .member-info h2 {
    color: #ffffff;
    font-weight: 400;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}
