.section:first-child {
    margin-top: 15px;
}

.actions-section .section{
    background: #fff;
    padding: 15px;
    background: #fff;
    padding: 15px;
    -webkit-box-shadow: 0px 1px 5px 1px #e4e4e4;
    -moz-box-shadow: 0px 1px 5px 1px #e4e4e4;
    box-shadow: 0px 1px 5px 1px #e4e4e4;

    margin-bottom: 20px;

}

.actions-section .section img{
    /*height: 140px;*/
    padding: 0 5px 5px 0;
}

.actions-section .section:nth-child(odd) {
    background: #f9f9f9;
}

.actions-section  h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 0px;
    line-height: 31px;
    padding: 0;
    position: relative;
    letter-spacing: 1px;
    font-family: "PT Sans Caption", Helvetica, Arial, sans-serif;
    color: #00aeef;
    cursor: pointer;
}