/*==========================================================================================
    Мини форма поиска
============================================================================================*/
.simple-search-section {
    padding-top: 90px;
    background: url('/images/bg.jpg') 0px -150px;
    background-size: cover;
}


.simple-search-form {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid #56C9F4;
}

.simple-search-form #departureValue {
    color: #00aeef;
    border-bottom: 1px dashed;
    font-size: 22px;
    margin-left: 18px;
    cursor: pointer;

    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
.simple-search-form #departureValue:hover {
    color: #0096d4;

}

/*Выбор ночей*/
#nights-select {
    padding: 5px;
    border: 1px solid #ccc;
    width: 100%;
    display: table;
    background-color: #fff;
    display: none;
    z-index: 9;
    position: absolute;
    top: 0px;
}

#nights-select>strong {
    color: #00AEEF;
}

#nights-select table tr>td {
    border: 1px solid #DEDEDE;
    padding: 5px;
    background-color: #f7f7f7;
    text-align: center;
    cursor: pointer;

    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;

}

#nights-select .in-range {
    background: #B3E8FF !important;
}

#nights-select table tr>td:hover{
    background: #B3E8FF;
}
#nights-select table tr>td:active {
    background: #a3d4e9;
}

#nights-select .from-active, #nights-select .to-active {
    background: #357ebd !important;
    border-color: #3071a9;
    color: #fff;
}


/* Мини форма Kid's age
---------------------------------------------------------------------------*/

.hotel-tour-form-line {
    display: inline-block;
    margin-bottom: 10px!important;
}

.kidsCount, .adultsCount {
    display: flex;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f7f7f7;
    padding: 10px 5px;
}
.kidsCount {
    padding: 10px 45px;
}

.kidsCount div, .adultsCount div{
    margin-right: 30px;
    color: #00AEEF;

    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
.kidsCount div:hover, .adultsCount div:hover, .kidsCount .active, .adultsCount .active{
    color: #333333;
}

.kidsCount div:last-child, .adultsCount div:last-child{
    margin-right: 0px;
}


#childage1SelectBoxIt, #childage2SelectBoxIt, #childage3SelectBoxIt  {
    width: 80px !important;
    margin: 0 10px;
}

.simple-search-form .kidsAge{
    display: none;
}

.simple-search-form .tourists-total {
    display: inline-block;
    padding-left: 8px;
    padding-right: 20px;
    background: #fff url('../images/select.png') no-repeat 100% 50%;
    cursor: pointer;
}
.simple-search-form .tourists-total:hover {
    border-color: #66afe9;
}

.simple-search-form .toursit-select * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    outline: none;
}

.simple-search-form .toursit-select {
    position: relative;
}
.simple-search-form .toursit-select .tourists {
    width: 330px;
    position: absolute;
    top: 260px;
    right: 0px;
    display: none;
    padding: 9px;
    margin-top: -261px;
    height: auto;
    background-color: #fff;
    border: 1px solid #ebebeb;
    cursor: default !important;
    z-index: 500;

    box-shadow: 0px 0px 14px;
    -webkit-box-shadow: 0px 0px 14px;
    -moz-box-shadow: 0px 0px 14px;
    -ms-box-shadow: 0px 0px 14px;
    -o-box-shadow: 0px 0px 14px;
}

.simple-search-form .toursit-select .tourists p { white-space: nowrap; }

.simple-search-form .toursit-select.tourists ul.age {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.simple-search-form .toursit-select .tourists ul.age > li { display: inline-block; margin-left: 4px; vertical-align: middle; }
.simple-search-form .toursit-select .tourists ul.age > li:first-child { margin: 0; }

.simple-search-form .toursit-select .tourists label {
    line-height: 100%;
    font-weight: normal;
}
.simple-search-form .toursit-select .tourists select {
    display: inline-block;
    margin-left: 3px;
    width: 60px;
    vertical-align: top;
}

.simple-search-form #age-select { margin: 0; }
.simple-search-form #age-select > span.selectboxit-container { margin-left: 4px; }


.simple-search-form .toursit-select .tourists .age .btn {
    padding: 6px 10px;
    font-size: 17px;
    border-width: 0;
    vertical-align: top;
}

.customScroll .mCSB_scrollTools .mCSB_draggerRail{
    background-color:#fff;
    /*background-color:rgba(0,0,0,.4);*/
    filter:"alpha(opacity=40)";
    -ms-filter:"alpha(opacity=40)"
}
.customScroll .mCSB_dragger .mCSB_dragger_bar, .customScroll .mCSB_dragger .mCSB_dragger_bar:hover  {
    background-color:rgba(86, 201, 244, 0.75);
}


.daterangepicker td.in-flydate{
    background: #F1F1F1;
    border-radius: 0;
}

.daterangepicker td.in-range{
    background: #B3E8FF;
}

.daterangepicker td.active, .daterangepicker td.active:hover{
    background-color: #357ebd;
    border-color: #3071a9;
    color: #fff;
}
