/* ==========================================================================
   Pagination
========================================================================== */
.pagination {
    margin: 0 0 25px;
    padding: 0;
}
.pagination > li {
    display: inline-block;
}
.pagination > li > a,
.pagination > li > span {
    color: #fff;
    background-color: #26ABE3;
    border-color: #26ABE3;
    padding: 10px;
    text-decoration: none;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #fff;
    background-color: #1A95C9;
    border-color: #1A95C9;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    color: #fff;
    background-color: #FF5B00;
    border-color: #FF5B00;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-radius: 0;
}