/*top line*/
.top-line {

}

.top-line .logo {
    margin-top: 15px;
}

.top-line .description {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2.2em;
}

/*head section*/
.head-section {
    position: relative;
    z-index: 5;
    background: #000;
    min-height: 600px;
}

.head-section .cover {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .7;
    width: 100%;
    background: #000 url('/local/templates/CustomToursTempl/css/../img/main_bg.jpg') center center / cover;
    /*background: #ccc url("/local/templates/CustomToursTempl/css/../img/main_bg.jpg") no-repeat 0px 40% / cover transparent;*/
}

.head-section .promo-wrap {
    padding: 100px 0;
    color: #fff;
}

.head-section .promo-wrap h1 {
    font-size: 5em;
}

.head-section .promo-wrap h1 > span {
    font-weight: bold;
    color: #00adee;
    border-bottom: 5px solid #00adee;
}

.head-section .promo-wrap .promo-text {
    font-size: 2em;
}

.head-section .promo-wrap .btn {
    margin-top: 50px;
    opacity: .6;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.head-section .promo-wrap .btn:hover {
    margin-top: 50px;
    opacity: 1;
}
.head-section .price {
    font-size: 2.2em;
    font-weight: bold;
    color: #5cb85c;
}

/*line section*/
.line-section {
    padding: 30px 0;
}

.line-section.suhum {
    background: url('../img/suhum.jpg') 0 -50%;
    background-size: cover;
    color: #ffffff;
}

.line-section .icon {
    height: 80px;
}

.line-section h2 {
    line-height: 1.5;
}

/*offers-section*/
.offers-section {
    border-top: 2px solid #00adee;
    padding: 50px 0;
}

.offers-section .offer {
    position: relative;
    height: 250px;
    color: #ffffff;
    z-index: 5;
    background: #000;
    background-size: cover;
    background-clip: content-box;
    background-origin: content-box;
}

.offers-section .offer .offer_content {
    padding: 30px 15px 0 15px;
}

.offers-section .offer .offer_content h3 {
    font-size: 2em;
    font-weight: bold;
}

.offers-section .offer .offer_content .date {
    font-size: 1.2em;
    font-weight: bold;
}



.offers-section .offer .offer_content .price {
    text-align: right;
    margin-top: 20px;
    font-size: 1.9em;
    font-weight: bold;
    color: #00ADEE;
}

.offers-section .offer .cover {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .5;
    width: 100%;
    background-color: #000;
    background-size: cover;
    background-clip: content-box;
    background-origin: content-box;
    padding: 0 15px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

/*description-section*/

.description-section {
    background-color: #fafafa;
    padding-bottom: 50px;
}

.description-section p {
    line-height: 1.8;
    font-size: 1.2em;
}

.description-section .list {
    font-size: 1.2em;
    padding-left: 15px;
}
.description-section .list li{
    margin-bottom: 10px;
}



/*gallery-section*/

.gallery-section {

}

.gallery-section .modal-dialog {
    width: 600px;
}

.gallery-section .thumbnail {
    margin-bottom: 6px;
    height: 150px
}

/*element*/
.head-section.detail {
    min-height: 500px;
}
.head-section.detail .cover{
    opacity: .5;
}

.head-section.detail .promo-wrap {
    padding: 100px 0 50px 0;
}

.head-section.detail .tour-date {
    font-size: 1.5em;
    color: #fff;
}

.head-section.detail .list ul {
    color: #ffffff;
    font-size: 1.3em;
    list-style-type: none;
    padding: 0;
    float: left;
    margin-right: 40px;
    width: 45%;
}

.head-section.detail .list ul li {
    position: relative;
    margin-bottom: 15px;
}

.head-section.detail .list ul li:before {
    position: absolute;
    display: block;
    left: -35px;
    top: -5px;
    content: '';
    width: 32px;
    height: 32px;
}


/*buy-section*/
.buy-section {
    padding: 50px 0;
}

.buy-section .price-row div:first-child {
    font-size: 2.1em;
}
.buy-section .price-row div:last-child {
    font-size: 3em;
    font-weight: bold;
    color: #5cb85c;
}

.buy-section .order-props {
    font-size: 1.3em;
}
.buy-section .order-props ul{
    list-style-type: none;

}

/* Footer */

footer{
    background-color: #424558;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
    color: #CCC;
    z-index: 10;
}

footer p {
    padding: 10.5px;
    margin: 0px;
    line-height: 100%;
}


/*general*/

.section-header {
    margin-top: 50px;
    margin-bottom: 30px;
}

.section-subheader {
    color: #82A21E;
    font-size: 1.3em;
}

.section-subheader {
    letter-spacing: 1px;
    width: 70%;
    position: relative;
    display: inline-block;
    z-index: 1;
    margin-bottom: 30px;
}

.section-subheader h3 {
    text-align: center;
    color: #82A21E;
    font-size: 1.2em;
}

.section-subheader h3:before {
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    left: 0;
    right: 0;
    height: 22px;
    border-top: 2px solid #00C188;
    border-bottom: 2px solid #00C188;
    z-index: -1;
}

.section-subheader span {
    background: #fafafa;
    padding: 0 20px;
}

.panel {
    margin-bottom: 0;
}

.btn-group-lg > .btn, .btn-lg, .btn {
    border-radius: 0;
}