ul {list-style:none;}
span {background: url(../images/newtravel/list-star.png) no-repeat left }
ul li {background:#fff;padding: 5px 10px; border-radius: 5px; border: 1px solid #dbdbdb; margin-bottom: 5px}
ul li:hover {background: #97D077;}
ul li div{display: inline-block; margin-right: 15px; font-size: 20px}
.tour-buy-btn {width: 120px; height: 40px; line-height: 1.5}