/*========================================================================================
    Оформление тура
=========================================================================================*/
.order-page h1 {
    color: #00AEEF;
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
}
.order-page .sub-title{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
}

.order-page .gray-section {
    padding: 10px 0 10px;
}

.order-page .section-inner {
    background: #fff;
    border: 1px solid #E7E7E7;
    padding: 10px 0;
}

.order-page .tour-data-header, .order-page .tour-data-body, .order-page .tour-data-footer{
    overflow: hidden;
    margin-bottom: 20px;
}

.order-page .tour-data-header h3{
    margin: 0;
    text-transform: uppercase;
}
.order-page .tour-data-body{
    border-bottom: 1px solid #EAEAEA;
}
.order-page .tour-data-body div:first-child{
    text-align: center;
}

.order-page .list{
    list-style: none;
    padding:0;
    height: 100%;
}

.order-page .list li{
    margin-bottom: 12px;
}

.order-page .list li span.title{
    text-transform: uppercase;
    display: inline-block;
    width: 200px;
}
.order-page .list li span.price{
    font-size: 28px;
    color: #00AEEF;
}

.order-page .turoperator-data .col-md-4{
    text-align: center;
}
.order-page .turoperator-data .item{
    margin-top: 15px;
    padding: 10px;
    background: rgba(0, 174, 239, 0.3);
    display: block;
    overflow: hidden;
    font-size: 20px;
    position: relative;
    -webkit-box-shadow: 1px 2px 5px #ccc;
    -moz-box-shadow: 1px 2px 5px  #ccc;
    box-shadow: 1px 2px 5px #ccc;
}
.order-page .turoperator-data .item:hover{
    background: rgba(0, 174, 239, 0.39);
}
.order-page .turoperator-data .item label{
    display: block;
}

.order-page .turoperator-data .item .price{
    font-size: 28px;
    color: #00AEEF;
    font-weight: bold;
    padding: 0;
}

.order-page .turoperator-data .sub-item {
    margin: 0 15px 15px 15px;
    background: #f0f0f0;
    text-align: center;
    padding: 10px;
    overflow: hidden
}

.order-page .turoperator-data .sub-item label {
    margin: 0;
}
.order-page .turoperator-data .sub-item .small>span {
    color:#a2a2a2;
}
.order-page .turoperator-data .sub-item .small>span {
    color:#a2a2a2;
}

.order-page form .form-group {
    margin: 0;
}

.order-page .tourist-data .tourist-item {
    border: 1px solid #f3f3f3;
    overflow: hidden;
    margin: 15px;
    padding: 15px;
    background: #F5F5F5;
}

.order-page .pay-data .oferta-text {
    overflow-y: scroll;
    height: 300px;
    margin: 0 70px;
    border: 1px solid #B7B7B7;
}


.order-page .pay-data .payment-list {list-style: none; padding: 0; margin: 15px}
.order-page .pay-data .payment-list .title {text-transform: uppercase; color:#00aeef}
.order-page .pay-data .payment-list li{background: #F5F5F5; margin-bottom: 5px; height: 100%; padding: 10px; overflow: hidden;}
.order-page .pay-data .payment-list li:hover{background: #eaeaea;}
.order-page .pay-data .payment-list li input{float: left;}
.order-page .pay-data img{height: 100px;width: 100px; margin: 0 20px; float: left;}
.order-page .pay-data .payment-list li label{float: right; width: 85%; font-weight: normal;}
.order-page .pay-data .payment-list .comment-line{height: 200px}
.order-page .pay-data .payment-list .comment-line textarea{}

.itogo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
}
.price {
    font-size: 26px !important;
    color: #00aeef !important;
    padding: 0 !important;
    font-weight: normal !important;
}

/*==========================================================================================
    Служебные
============================================================================================*/
.yes {
    color: #35cf76;
}
.no {
    color: #e74c3c;
}

div#order_form_content .errortext{
    background: none !important;
    border: none !important;
    border-radius: 0 !important;
    display: block !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    text-shadow: none !important;
}


/*============================================================
    Старые стили
==============================================================*/
#order_form_div .sale_data-table.summary td {
	background: #fff !important;
}
#order_form_div {

}
#order_form_div .sof-req {
	color: red;
	font-size: 10px;
}
#order_form_div .clear {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
	font-size: 0px;
	line-height: 0px;
}

#order_form_div .sale_order_table {
	font-size: 12px;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
#order_form_div .sale_order_table td {
	padding: 15px 0;
	background: none !important;
}
#order_form_div .sale_order_table .name {
	width: 190px;
	text-align: left;
	vertical-align: top;
}
#order_form_div .sale_order_table.props td {
	border-bottom: 1px solid #dcdfe2;
}
#order_form_div .sale_order_table input[type="text"],
#order_form_div .sale_order_table textarea,
#order_form_div .sale_order_table select{
	width: 365px;
}
#order_form_div .sale_order_table textarea {
	height: 70px;
	overflow: hidden;
	resize: none;
}
#order_form_div .sale_order_table select {
	padding: 6px 3px 6px 8px;
	width: 383px;
	margin-bottom: 5px;
}
#order_form_div .sale_order_table .desc {
	color: #a3a3a3;
	font-size: 11px;
	margin: 3px 0;
}

/*paysystem*/
#order_form_div .sale_order_table.paysystem td {
	border-bottom: none;
}
#order_form_div .sale_order_table .ps_logo {
	float: left;
	text-align: center;
	margin: 0 15px 10px 0;
	height: 85px;
}

#order_form_div .sale_order_table .with_description {
	margin-right: 0 !important;
	height: 30px;
}

#order_form_div .sale_order_table .ps_logo img,
#order_form_div  .sale_order_confirm img,
#order_form_div .account img {
	border-radius: 2px;
	border: 1px solid #d1d1d1;
	box-shadow: 2px 2px 2px rgba(180,188,191,0.5);
	padding:1px;
	float: left;
}

div.bx_section div.bx_block div.bx_element input[type=radio],
div.bx_section div.bx_block div.bx_element input[type=checkbox],
#order_form_div .sale_order_table .ps_logo input[type=radio],
#order_form_div .account input[type=checkbox] {
	display: none;
}

.bx_element input[type=radio]:checked + label .bx_logotype,
.bx_element label.selected .bx_logotype
{
	border: 2px solid #2d739d !important;
	padding: 1px;
}

#order_form_div .sale_order_table .paysystem_name,
#order_form_div .sale_order_confirm .paysystem_name {
	font-size: 11px;
	color: #a3a3a3;
	width: 95px;
	line-height: 11px;
	margin-top: 65px;
}
#order_form_div .account img,
#order_form_div .account .desc {
	float: left;
}
#order_form_div .account img {
	margin-right: 10px;
}
#order_form_div .account .name {
	font-weight: bold;
	margin-bottom: 3px;
	color: #000;
}
#order_form_div .account .desc {
	font-size: 11px;
	color: #a3a3a3;
	line-height: 11px;
	text-align: left;
	width: 80%;
}
#order_form_div .account .desc.width_limited {width:100%;}
#order_form_div .account .ps_logo.with_description {width:100%;}

/*delivery*/
#order_form_div .sale_order_table.delivery td {
	padding: 7px 0;
}
#order_form_div .sale_order_table.delivery .name {
	font-weight: bold;
	width: auto;
	color: #000;
}
#order_form_div .sale_order_table.delivery .desc {
	color: #a3a3a3;
	width: 400px;
}
#order_form_div .sale_order_table.delivery td table {
	width: auto;
}
#order_form_div .sale_order_table.delivery td table td {
	padding: 0;
	text-align: left;
}
#order_form_div .sale_order_table.delivery .prop img {
	border-radius: 2px;
	border: 1px solid #d1d1d1;
	box-shadow: 2px 2px 2px rgba(180,188,191,0.5);
	padding:1px;
	margin: 0 10px 0 0;
}
#order_form_div .sale_order_table.delivery .prop input,
#order_form_div .sale_order_table.delivery .prop img,
#order_form_div .sale_order_table.delivery .prop .desc {
	float: left;
	margin-right: 10px;
}
#order_form_div .sale_order_table.delivery .prop input[type=radio] {
	display: none;
}

/*summary*/
#order_form_div .sale_data-table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	margin-top: 10px;
}
#order_form_div .sale_data-table th {
	background-color: #f5f5f5;
	padding: 7px 13px;
	text-align: left;
	font-weight: normal;
}
#order_form_div .sale_data-table td {
	border-bottom: 1px solid #f5f5f5;
	padding: 7px 13px;
	text-align: left;
	background: none !important;
}
#order_form_div .sale_data-table td.price {
	white-space: nowrap;
	text-align: right;
}
#order_form_div .sale_data-table td.itog {
	text-align: right;
}
#order_form_div .sale_data-table tfoot td {
	border-bottom: none;
}
#order_form_div .sale_data-table tfoot tr.last td {
	border-top: 1px solid #f5f5f5;
	font-weight: bold;
	white-space: nowrap;
}
#order_form_div .order_comment {
	width: 100%;
}
#order_form_div .order_comment div {
	color: #a3a3a3;
	font-size: 12px;
	margin-bottom: 5px;
}
#order_form_div .order_comment textarea {
	width: 97%;
	height: 70px;
}

/* auth */
#order_form_div .order-auth {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
#order_form_div .order-auth td {
	text-align: left;
	vertical-align: top;
}
#order_form_div .sale_order_table.delivery .errortext {
	margin: 0;
	font-size: 11px;
	padding: 5px;
	width: 230px;
}
#order_form_div .sale_order_full_table td.ps_logo {
	text-align: left;
	vertical-align: top;
}
#order_form_div .sale_order_full_table .ps_logo .pay_name {
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 15px;
}
#order_form_div .desc .ora-store {
	font-size: 12px;
}
.store_location {
	display:none;
}
.store_location .ora-store {
	width: 40%;
	float: left;
}
.store_location .ora-store table td {
	padding: 10px;
	text-align: left;
	vertical-align: top;
}
.store_location .name {
	font-weight: bold;
}
.store_location .location {
	width: 60%;
	float: left;
}
#order_form_div .select_store {
	font-size:12px;
}

.image {
	padding: 5px 0 5px 0;
}

/* new */

.bx_order_make{
}
.bx_order_make hr{
	border: none;
	border-bottom: 1px solid #dcdfe2;
}
.bx_order_make .bx_section{
	margin-bottom: 20px;
}
.bx_order_make .bx_section h4{
	display: block;
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #dcdfe2;
}
.bx_order_make .bx_block{
	float: left;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
			box-sizing:border-box;
	margin-right: 15px;
	margin-bottom: 10px;
	padding:0 10px;
	vertical-align: middle;
}
.bx_order_make .bx_block.r1x3.pt8{padding-top:8px}
.bx_order_make .bx_block.r1x3{margin:0; 		  width:20% }
.bx_order_make .bx_block.r3x1{margin:0; 		  width:80% }
.bx_order_make .bx_block.w100{margin:5px 0 10px 0;width:100%}
.bx_order_make .bx_block.horizontal {margin:5px 0 10px 0}
@media (max-width:640px){
	.bx_order_make .bx_block.r1x3{width:35%}
	.bx_order_make .bx_block.r3x1{width:65%}
}
@media (max-width:480px){
	.bx-touch .bx_order_make .bx_block.r1x3,
	.bx-touch .bx_order_make .bx_block.r3x1{float:none;margin-right:0;width:100%;}
}

.bx_order_make .bx_sof_req{color:rgba(199,31,31,1);font-weight:bold}

.bx_order_make .bx_logotype{
	box-shadow: 0 0 3px 0 rgba(123,152,165,.9);
	cursor: pointer;
	padding: 2px;
	float: left;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
			box-sizing:border-box;
	border: 1px solid rgba(123,152,165,.7);
	margin-right: 20px;
}
.bx_order_make .bx_block.horizontal .bx_logotype{margin-right: 0}
.bx_order_make .bx_logotype span{
	display: block;
	width: 100px;
	height: 60px;
	background-repeat: no-repeat;
	background-position: center;
}
.bx_order_make .bx_logotype.active,
.bx_order_make .bx_logotype:hover{
	box-shadow: 0 0 3px 0 rgba(0,93,153,1);
	border: 1px solid rgba(0,93,153,.8);
	padding: 2px;
}
.bx_order_make .bx_description{
	font-size: 11px;
	color: #a3a3a3;
	/*float: left;*/
}
.bx_order_make .bx_description p{
	display: block;
	/*clear: both*/
}
.bx_order_make .bx_result_price{
	color: #000 !important;
	float: right;
	text-align: right;
}
.bx_order_make .bx_result_price a{font-weight: normal;}
@media (max-width:640px){
	.bx_order_make .bx_result_price{
		float: none;
		display: block;
		width: 100%;
	}
}
.bx_order_make .bx_result_price a{color: #12a9e1}
.bx_order_make .bx_result_price a:hover{text-decoration:none}
.bx_order_make .bx_description strong{
	display: block;
	color: #000;
	/*float: left;*/
}

.bx_ordercart .bx_ordercart_order_table_container tbody .right {
    text-align: right !important;
}

div#order_form_content div.bx_section div#sale_order_props div div.bx_block textarea {
 	margin-bottom: 10px;
}
