body.body-popup {margin:10px;}
div.empty {width:1px; height:1px; overflow:hidden;}

/* Popup menu */
td.popupmenu {border:1px solid #B6B6B6 !important; padding:1px !important; background-color:#FCFCFC !important; background-image:url(images/menu_gutter.gif) !important; background-repeat:repeat-y !important;}
td.popupmenu .popupitem {margin:1px !important; cursor:default !important;}
td.popupmenu .popupitemover {margin:0px !important; border:1px solid #AEB6C2 !important; background-color:#CEDAEE !important;}
td.popupmenu .popupitem .gutter {width:20px !important;}
td.popupmenu .popupitem .item {padding:3px 5px 3px 9px !important; font-size:11px !important; white-space:nowrap !important;}
td.popupmenu .popupitem .default {font-weight:bold !important;}
td.popupmenu .popupitem .disabled {color:#939393 !important;}
td.popupmenu .popupseparator {margin:1px 0px 1px 30px !important; background-color:#B6B6B6 !important; height:1px !important; overflow:hidden !important;}

/*Common actions icons */
td.popupmenu .popupitem .icon {width:20px !important; height:16px !important; background-position:center !important; background-repeat:no-repeat !important;}
td.popupmenu .popupitem .checked {background-image:url(images/checkbox.gif);}
td.popupmenu .popupitem .arrow {width:10px !important; background:transparent url(images/menu_arrow.gif) 2px center no-repeat !important;}

table.data-table-gadget {width: 100%; background-color:white; margin-bottom:10px;}

.gdparent {border: 1px solid #becfd8; position: relative; background-color: white;}
.gdcorn {position:absolute; left: -1px; top: -1px; width: 4px; height: 4px; background-image:url(images/gadget.gif); overflow: hidden;}
.gdbcorn {position:absolute; left: -1px; top: -3px; width: 4px; height: 4px; background-image:url(images/gadget.gif); background-position: 0px -4px; overflow: hidden;}
.gdheader {background-color: #d8e3e8; padding: 10px; margin: 1px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 14px; font-weight: bold;}

/*
.gdheader {font-weight:bold; font-size:14px; padding:8px; color:#000; background:url(images/table-header-separator.gif) bottom repeat-x;}

table.gadgetholder td.gd-page-column0 .gdheader {border-top:9px solid #dbdbdb;}
table.gadgetholder td.gd-page-column1 .gdheader {border-top:9px solid #ebebeb;}
table.gadgetholder td.gd-page-column2 .gdheader {border-top:9px solid #f1eec4;}
table.gadgetholder td.gd-page-column0  {border-right:1px solid #dbdbdb; padding-right:10px;}
table.gadgetholder td.gd-page-column1  {border-right:1px solid #dbdbdb; padding-right:10px;}

a.gdremove, a.gdsettings, a.gdhide, a.gdshow, a.gdshow:hover, a.gdremove:hover, a.gdsettings:hover, a.gdhide:hover {float:right; height:19px; width:19px; margin-left:3px; margin-top:0px; overflow:hidden; position:relative; background-image:url(images/gadget.gif);}

a.gdsettings {background-position: -4px 0px;}
a.gdhide {background-position: -23px 0px;}
a.gdremove {background-position: -42px 0px;}
.gdhided a.gdhide {background-position: -61px 0px;}

a.gdsettings:hover {background-position: -4px -19px;}
a.gdhide:hover {background-position: -23px -19px;}
a.gdremove:hover {background-position: -42px -19px;}
.gdhided a.gdhide:hover {background-position: -61px -19px;}
*/
.gdcontent {padding: 10px; zoom: 1;}


a.gdremove, a.gdsettings, a.gdhide, a.gdshow, a.gdshow:hover, a.gdremove:hover, a.gdsettings:hover, a.gdhide:hover
{
	float:right;
	height:19px;
	width:19px;
	margin-left:3px;
	margin-top:0px;
	overflow:hidden;
	position:relative;
	background-image:url(images/gadget.gif);
}
a.gdsettings {background-position: -4px 0px;}
a.gdhide {background-position: -23px 0px;}
a.gdremove {background-position: -42px 0px;}
.gdhided a.gdhide {background-position: -61px 0px;}


a.gdsettings:hover {background-position: -4px -19px;}
a.gdhide:hover {background-position: -23px -19px;}
a.gdremove:hover {background-position: -42px -19px;}
.gdhided a.gdhide:hover {background-position: -61px -19px;}

.gdnoparams {display:none;}

.gdhided .gdcontent {display:none;}

.gdoptions {padding: 4px; background-color: #E8E8E8;}

.gdsettrow {margin: 4px; }


div.bx-gd-buttons {margin-bottom: 30px; padding-left: 3px;}

div.bx-gd-button {height: 21px;float:left;}
div.bx-gd-button span {display: block; float: left; height: 21px; cursor: pointer;}

div.bx-gd-button span.bx-gd-text {background-position: left center; background-repeat: no-repeat; padding-left: 21px; display: block; text-decoration: none;}

div.bx-gd-button span.bx-gd-l {background: url(images/btn/btn_l.gif); width: 2px;}
div.bx-gd-button span.bx-gd-r {background: url(images/btn/btn_r.gif); width: 2px;}
div.bx-gd-button span.bx-gd-c {background: url(images/btn/btn_bg.gif);padding: 0px 11px 0px 7px; line-height: 20px;}

div.bx-gd-add span.bx-gd-text {background-image: url(images/btn/plus.gif);}
div.bx-gd-clear span.bx-gd-text {background-image: url(images/btn/del.gif);}
div.bx-gd-setdef span.bx-gd-text {background-image: url(images/btn/set.gif);}

div.bx-gd-setdef, div.bx-gd-clear {float: right; padding-left:10px;}

div.bx-gd-button a {display:block; color: black; text-decoration: none; font-size: 95%;}



table.gadgetholder td.gd-page-column0 .gdheader {border-top:9px solid #d1dee5;}
table.gadgetholder td.gd-page-column1 .gdheader {border-top:9px solid #d1dee5;}
table.gadgetholder td.gd-page-column2 .gdheader {border-top:9px solid #e3eeb7;}
table.gadgetholder td.gd-page-column0  {border-right:1px solid #d1dee5; padding-right:10px;}
table.gadgetholder td.gd-page-column1  {border-right:1px solid #d1dee5; padding-right:10px;}

table.gadgetholder td.gd-page-column0 .gdheader {border-top:9px solid #c5d9f1;}
table.gadgetholder td.gd-page-column1 .gdheader {border-top:9px solid #ddf3fb;}
table.gadgetholder td.gd-page-column2 .gdheader {border-top:9px solid #f8eca8;}
table.gadgetholder td.gd-page-column0  {border-right:1px solid #ffed73; padding-right:10px;}
table.gadgetholder td.gd-page-column1  {border-right:1px solid #ffed73; padding-right:10px;}

*{-moz-force-broken-image-icon:1 !important;}


.gdheader {font-weight:bold; font-size:14px; padding:8px; color:#000; background:url(images/table-header-separator.gif) bottom repeat-x;}
.gdparent {border: 0px solid #becfd8; position: relative; background-color: white;}

.gdcorn, .gdbcorn
{
	border: 1px solid #E0E0E0
	height:0px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:0px;
}

a.gdremove, a.gdsettings, a.gdhide, a.gdshow, a.gdshow:hover, a.gdremove:hover, a.gdsettings:hover, a.gdhide:hover
{
	float:right;
	height:31px;
	top: 0px;
	margin-top:-8px;
	margin-left:0px;
	position: relative;
	background-position: 0px 0px;
}

a.gdsettings {background-image:url(images/hidn/01.gif); width:16px; }
a.gdhide {background-image:url(images/hidn/02.gif);width:18px; }
a.gdremove {background-image:url(images/hidn/03.gif);width:20px; }
.gdhided a.gdhide {background-image:url(images/hidn/04.gif);width:18px; background-position: 0px 0px;}

a.gdsettings:hover {background-image:url(images/hidn/over_01.gif);width:16px; }
a.gdhide:hover {background-image:url(images/hidn/over_02.gif);width:18px; }
a.gdremove:hover {background-image:url(images/hidn/over_03.gif);width:20px; }
.gdhided a.gdhide:hover {background-image:url(images/hidn/over_04.gif);width:18px; background-position: 0px 0px;}

.gdnoparams {display:none;}

.gdhided .gdcontent {display:none;}

.gdoptions {padding: 4px; background-color: #E8E8E8;}
.gdsettrow {margin: 4px; }


