.flight_info table {border-collapse:collapse;width:100%;}
.flight_info p {padding:12px;text-align:center;font-weight:bold;}
.flight_info td {border:1px solid #ccc;padding:6px;}
.flight_info .h1td, .flight_info .first {display:none;}