td.vote_element{
  border: 1px solid #cccccc;
}

td.vote_element td
{
  width: 120px;
}


td.vote_checkbox{
  border: 1px solid #ccc;
  background: #fff;
}
td.vote_photo{
  height:120px;
  width: 120px;
  background: #efefef;
  border: 1px solid #ccc;
}


