.your-clock.flip-clock-wrapper {
    width: 465px;
    margin: 25px auto;
}

.special_offer_modal p {
    font-size: 18px;
}
.special_offer_modal strong {
    color: #00aeef;
}

@media only screen and (max-width: 479px) {

    .your-clock.flip-clock-wrapper ul {
        width: 40px;
        margin:5px 1px;
    }

    .your-clock .flip-clock-divider .flip-clock-label, .your-clock .flip-clock-divider.minutes .flip-clock-label, .your-clock .flip-clock-divider.seconds .flip-clock-label {
        right: -57px;
    }

    .your-clock.flip-clock-wrapper ul li a div div.inn {
        font-size: 56px;
    }

}