/* ==========================================================================
   Pagination
========================================================================== */
.pagination {
    margin: 0 0 25px;
}
.pagination > li {
    display: inline-block;
    margin-right: 2px;
}
.pagination > li > a,
.pagination > li > span {
    color: #fff;
    background-color: #00aeef;
    border-color: #00aeef;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #fff;
    background-color: #333;
    border-color: #333;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    color: #fff;
    background-color: #333;
    border-color: #333;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-radius: 0;
}