.profile-header {
    margin-bottom: 0;
}

.profile-header .dark-div {
    padding: 20px 0;
}

.profile-header h1 {
    margin-top: 10px;
}
.profile-header h2 {
    margin-bottom: 5px;
}

.header-block > div {
    float: left;
    margin: 20px 20px;
    line-height: 2;
}

.header-block .phone {
    font-size: 24px;
    font-weight: 600;
    color: #00aeef;
}

.header-block .address {
    font-size: 24px;
    font-weight: 600;
}

.header-block #callback_btn {
    padding: 10px;
    margin-top: 5px;
}

.profile-header .media-block {
    border: 1px solid rgba(238, 238, 238, 0.24);
    padding: 10px;
    background: rgba(255, 255, 255, 0.15);
    position: relative;
}

.haeder-list {
    font-size: 18px;
    text-transform: uppercase;
}

.haeder-list > li > i {
    text-align: center;
    width: 45px;
}

.promo-line {
    padding: 35px;
    background: rgb(255, 91, 0);
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.2;
}
.weather-line {
    padding: 35px;
    background: rgb(0, 163, 255);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.2;
}
.weather-line > div {
    font-size: 30px;
}

.weather-line img {
    margin-bottom: 10px;
}


.media-block svg {
    position: absolute;
}

line {stroke:rgb(90, 173, 232); stroke-width: 2}

/*------Модальные окна---------*/
.modal-content {
    border-radius: 0;
    border: 1px solid #56C9F4;
    width: 100%;
}

.modal-dialog {
    margin-top: 15px;
}

.modal-title {
    color: #00AEEF;
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
}

.list{
    height: 400px;
}

.list .column, .list .col {
    float: left;
    width: 125px;
}
.list li {
    margin: 5px 15px;
    vertical-align: top;
}

ul.nt-list {
    list-style: none;
    padding: 0;
}

ul.nt-list li{
    margin-bottom: 8px;
}
ul.nt-list li i{
    margin-right: 10px;
    color:#00AEEF;
}


ul.nt-list a{
    color: #747474;
}
ul.nt-list a:hover{
    color: #00aeef;
}

ul.nt-list .divider {
    border-bottom: 1px solid #56C9F4;
    color: #56C9F4;
}

.search-help {
    position: relative;
}

.search-help .arrow {
    position: absolute;
    left: 39%;
    top: 0px;
    width: 120px;
    height: 100px;
}

.btn-orange {
    color: #fff !important;
    border-color: #d56500 !important;
    background: -webkit-gradient(linear,left top,left bottom,from(#FF6C00),to(#df6800)) !important;
    background: linear-gradient(#FF6C00,#df6800) !important;
    text-transform: uppercase;
}

.btn-orange:hover {
    background: -webkit-gradient(linear,left top,left bottom,from(#e26300),to(#c66300)) !important;
    background: linear-gradient(#e26300,#c66300) !important;
}

.btn-success-2 {
    color: #fff !important;
    border-color: #5eb749 !important;
    background: -webkit-gradient(linear,left top,left bottom,from(#6bc94e),to(#5eb749)) !important;
    background: linear-gradient(#6bc94e,#5eb749) !important;
    text-transform: uppercase;
}

.btn-success-2:hover {
    background: -webkit-gradient(linear,left top,left bottom,from(#74d955),to(#63bf4c)) !important;
    background: linear-gradient(#74d955,#63bf4c) !important;
}

.btn-white {
     border: 3px solid;
     border-radius: 0;
}
.btn-white:hover {
    border: 3px solid #0099da;
    border-radius: 0;
}

.tour-help-form-link .btn-white {
    color: #fff;
}

.price {
    font-size: 28px;
    color: #00AEEF;
    line-height: 1.3;
    padding: 20px;
    margin-left: 37px;
}

.old-price {
    font-size: 24px;
    color: #898990;
    line-height: 1.3;
    text-decoration: line-through;
    padding: 20px;
}

.description {
    text-align: justify;
    padding: 10px;
}

.description a {
    position: relative;
    display: block;
    text-decoration: none;
}

.description .btn {
    position: absolute;
    top: 10px;
    right: 0;
    margin-bottom: 10px;
}

.specialists h3 {
    margin-top: 0;
}

.specialoffer-list > div {
    padding: 5px;
}

.specialoffer-list .item {
    position: relative;
    overflow: hidden;
}
.specialoffer-list div > .img-link {
    display: block;
    height: 310px;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.specialoffer-list div > .img-link:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.specialoffer-list .item_name  {
    position: absolute;
    top: 0;
    left: 0;
    /*text-transform: uppercase;*/
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
}
.specialoffer-list .item_name a{
    color: #ffffff;
}


.specialoffer-list .item_price  {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 28px;
    color: #fff;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
}

.specialoffer-list .item_price:hover {
    background: rgba(0, 0, 0, 0.8);
}
.specialoffer-list .item_price .right {
    text-align: right;
}
.specialoffer-list .item_price .left {
    float: left;
    font-size: 20px;
}

.specialoffer-list .item_price span {
    text-transform: uppercase;
}

@media only screen and (max-width: 479px) {
    .specialoffer-list .item-wrap.col-xs-6 {
        width: 100%;
    }

}

.specialoffer-list .btn-link {
    color: #75bfff;
    font-weight: bold;
}

.specialoffer-list .btn-link:hover {
    color: #5a85b3;
}

@media only screen and (max-width: 420px) {

    .header-block .phone {
        font-size: 14px;
        float: right;
        margin-top: 30px;
    }

    .profile-header {
        background-position-y: 0px !important;
    }

}
@media only screen and (max-width: 768px) {

    .header-full-title {
        padding-left: 155px;
    }

    .header-block > div {
        margin: 20px 5px;
    }
}