@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?10920759');
  src: url('../fonts/fontello/fontello.eot?10920759#iefix') format('embedded-opentype'),
       url('../fonts/fontello/fontello.woff?10920759') format('woff'),
       url('../fonts/fontello/fontello.ttf?10920759') format('truetype'),
       url('../fonts/fontello/fontello.svg?10920759#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello/fontello.svg?10920759#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-dollar:before { content: '\e800'; } /* '' */
.icon-group:before { content: '\e801'; } /* '' */
.icon-ok:before { content: '\e802'; } /* '' */
.icon-clock:before { content: '\e803'; } /* '' */
.icon-hourglass:before { content: '\e804'; } /* '' */
.icon-location:before { content: '\e805'; } /* '' */
.icon-suitcase:before { content: '\e806'; } /* '' */
.icon-visa:before { content: '\e807'; } /* '' */
.icon-star-filled:before { content: '\e808'; } /* '' */
.icon-address:before { content: '\e809'; } /* '' */
.icon-odnoklassniki:before { content: '\e80a'; } /* '' */
.icon-star:before { content: '\e80b'; } /* '' */
.icon-heart-filled:before { content: '\e80c'; } /* '' */
.icon-star-1:before { content: '\e80d'; } /* '' */
.icon-picture:before { content: '\e80e'; } /* '' */
.icon-info:before { content: '\e80f'; } /* '' */
.icon-location-outline:before { content: '\e810'; } /* '' */
.icon-info-outline:before { content: '\e811'; } /* '' */
.icon-phone-outline:before { content: '\e812'; } /* '' */
.icon-cogs:before { content: '\e813'; } /* '' */
.icon-pitch:before { content: '\e814'; } /* '' */
.icon-gplus:before { content: '\e815'; } /* '' */
.icon-right-open-1:before { content: '\e816'; } /* '' */
.icon-left-open-1:before { content: '\e817'; } /* '' */
.icon-rub:before { content: '\e818'; } /* '' */
.icon-instagram:before { content: '\e819'; } /* '' */
.icon-flight:before { content: '\e81a'; } /* '' */
.icon-facebook:before { content: '\e81b'; } /* '' */
.icon-building-filled:before { content: '\e81c'; } /* '' */
.icon-temperature:before { content: '\e81d'; } /* '' */
.icon-gplus-1:before { content: '\e81e'; } /* '' */
.icon-lightbulb-1:before { content: '\e81f'; } /* '' */
.icon-vkontakte:before { content: '\e820'; } /* '' */
.icon-mastercard:before { content: '\e821'; } /* '' */
.icon-cc-mastercard:before { content: '\e822'; } /* '' */
.icon-cc-visa:before { content: '\e823'; } /* '' */