.navbar-custom .dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.header-phone {
    font-size: 13px;
    font-weight: bold;
    padding: 0px;
    line-height: 2.5;
}

.header-callback-link {
    padding: 0px;
}

.navbar-description {
    width: 165px;
    text-transform: lowercase;
    font-size: 13px;
    float: right;
    line-height: 1.5;
    border-left: 1px solid #ccc;
    padding-left: 5px;
    margin-top: 10px;
}

.navbar-custom .navbar-toggle {
    padding: 15px 10px;
}

/* ------------------------------------------------------------------
Navbar
------------------------------------------------------------------- */

.navbar-custom {
    background-color: rgba(255, 255, 255, 0.9);
    min-height: 60px;
    border: 0;
    border-bottom: 1px solid #efefef;
    border-radius: 0;
    z-index: 1000;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
    -webkit-transition: background, padding 0.4s ease-in-out 0s;
    -moz-transition: background, padding 0.4s ease-in-out 0s;
    -ms-transition: background, padding 0.4s ease-in-out 0s;
    -o-transition: background, padding 0.4s ease-in-out 0s;
    transition: background, padding 0.4s ease-in-out 0s;
}

.navbar a {
    -webkit-transition: color 0.125s ease-in-out 0s;
    -moz-transition: color 0.125s ease-in-out 0s;
    -ms-transition: color 0.125s ease-in-out 0s;
    -o-transition: color 0.125s ease-in-out 0s;
    transition: color 0.125s ease-in-out 0s;
}

.navbar-custom .dropdown-menu {
    background: #fff;
    border-radius: 0;
    border: 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-custom .navbar-brand {
    letter-spacing: 4px;
    padding: 5px;
    font-weight: 400;
    font-size: 22px;
    color: #fff;
}

.navbar-custom .nav li > a {
    position: relative;
    color: #00aeef;
    font-size: 12px;
}
.navbar-custom .nav > li:nth-child(2) > a {
    position: relative;
    color: #F0AD4E;
    font-weight: 600;
    border-bottom: 1px dashed #F0AD4E;
    padding-bottom: 0 !important;
}

.navbar-custom .nav > li:nth-child(2):hover > a {
    color: #f0992c;
    border-bottom: 1px dashed #ee972c;
}

.navbar-custom .nav > li:last-child > a {
    position: relative;
    font-weight: 800;
}

.navbar-custom .dropdown-menu > li > a {
    border-bottom: 1px solid rgba(73, 71, 71, 0.15) !important;
    padding: 11px 15px;
    letter-spacing: 2px;
    color: #000;
}

.navbar-custom .dropdown-menu .dropdown-menu {
    border-left: 1px solid rgba(73, 71, 71, 0.15);
    left: 100%;
    right: auto;
    top: 0;
    margin-top: 0;
}

.navbar-custom .dropdown-menu.left-side .dropdown-menu {
    border: 0;
    border-right: 1px solid rgba(73, 71, 71, 0.15);
    right: 100%;
    left: auto;
}

.navbar-custom .nav li > a:focus,
.navbar-custom .nav li > a:hover,
.navbar-custom .nav .open > a,
.navbar-custom .nav .open > a:focus,
.navbar-custom .nav .open > a:hover,
.navbar-custom .dropdown-menu > li > a:focus,
.navbar-custom .dropdown-menu > li > a:hover {
    background: none;
    color: #999;
}

.navbar-custom .dropdown-menu > li > a:hover {
    background: rgba(255, 255, 255, .1) !important;
}

.navbar-custom .dropdown-toggle:after {
    position: absolute;
    display: block;
    right: 0;
    top: 50%;
    margin-top: -6px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 9px;
    content: "\f107";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar-custom .navbar-toggle .icon-bar {
    background: #00aeef;
}

.dropdown-menu {
    min-width: 180px;
    font-size: 11px;
}

/* Navbar search */

.dropdown-search {
    position: relative;
    padding: 5px;
}

.dropdown-search .form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
}

.search-btn {
    position: absolute;
    background: transparent;
    border: none;
    overflow: hidden;
    top: 50%;
    right: 1px;
    width: 42px;
    height: 40px;
    line-height: 38px;
    font-size: 14px;
    outline: none;
    color: #999;
    margin-top: -20px;
}

.navbar-custom + .main {
    margin-top: 50px;
}

/**/

/* -------------------------------------------------------------------
Responsive Media Querries
------------------------------------------------------------------- */

@media (min-width: 768px) {

    .navbar-nav.navbar-right:last-child {
        margin-right: 0px;
    }

    .navbar-transparent {
        background: rgba(255, 255, 255, 0.5);
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom: 1px solid #efefef;
        top: auto;
        margin-bottom: 0;
    }

    .navbar-custom .dropdown-menu {
        position: absolute;
        display: block;
        visibility: hidden;
        opacity: 0;
    }

    .navbar-custom .open > .dropdown-menu {
        visibility: visible;
        opacity: 1;
    }

    .navbar-custom .dropdown-menu .dropdown-toggle:after {
        position: absolute;
        display: block;
        right: 9px;
        top: 50%;
        margin-top: -6px;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 9px;
        content: "\f105";
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .navbar-right .dropdown-menu {
        right: auto;
        left: 0;
    }

}

@media (max-width: 1050px) {

    /* Navbar */
    .navbar-custom {
        letter-spacing: 1px;
    }

}

@media (max-width: 991px) {

    /* Navbar */
    .navbar-custom {
        letter-spacing: 0;
    }

}

@media (max-width: 767px) {

    /* Navbar */
    .navbar-custom .navbar-nav {
        letter-spacing: 3px;
        margin-top: 1px;
        margin-bottom: 0;
    }

    .navbar-custom li > a:hover {
        background: rgba(255, 255, 255, .1) !important;
    }

    .navbar-custom .navbar-nav .open .dropdown-menu .dropdown-header,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        padding: 10px 25px;
    }

    .navbar-custom .navbar-nav .open .dropdown-menu .dropdown-menu .dropdown-header,
    .navbar-custom .navbar-nav .open .dropdown-menu .dropdown-menu > li > a {
        padding: 10px 35px;
    }

    .navbar-custom li a,
    .navbar-custom .dropdown-search {
        border-bottom: 1px solid rgba(73, 71, 71, 0.15) !important;
    }

    .navbar-custom .dropdown-toggle:after,
    .navbar-custom .dropdown-menu .dropdown-toggle:after {
        right: 7px;
        content: "\f107";
    }

    .navbar-custom .nav > .open > .dropdown-toggle:after,
    .navbar-custom .dropdown-menu .dropdown.open .dropdown-toggle:after {
        right: 7px;
        content: "\f106";
    }

    /* Shop navbar */
    .navbar-custom .navbar-nav > li:last-child.navbar-cart > a {
        padding-left: 15px;
    }

    .navbar-custom .cart-item-number {
        display: none;
    }

    .navbar-custom .navbar-cart > a:after {
        content: "\f107";
    }

    .navbar-custom .navbar-cart-item a {
        border: 0 !important;
    }

    .dropdown-menu.cart-list {
        text-align: left;
        border-bottom: 1px solid rgba(73, 71, 71, 0.15) !important;
    }

    .navbar-cart-item {
        border: none;
        border-bottom: 1px solid rgba(73, 71, 71, 0.15) !important;
        padding-bottom: 10px;
    }

    .navbar-cart-img {
        display: none;
    }

    .navbar-cart-title {
        white-space: normal;
        padding: 0;
        margin-left: 0;
    }
}


