/* ==========================================================================
   Responses
========================================================================== */
.responses-title {
    overflow: hidden;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.responses-item {
    position: relative;
    margin-bottom: 30px;
    padding: 30px 40px;
    background-color: rgba(220, 241, 210, 0.64);
    border: 1px solid #e4e4e4;
    overflow: hidden;
}
.responses-item.newtravel {
    background-color: #f2f6f7;
    border-color: #bde4f1;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.responses-item .author { float: left; }
.responses-item .author .avatar {
    margin-bottom: 20px;
    width: 130px;
    height: 130px;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.responses-item .author-detail { text-align: center; line-height: normal; }
.responses-item .author-name { display: block; font-weight: bold; }
.responses-item .author-post { display: block; margin-bottom: 5px; }

.responses-item blockquote {
    display: block;
    padding: 0;
    margin: 15px 140px 0 170px;
    color: #333;
    font-size: 16px;
    border: none;
}
.responses-item .estimates {
    position: absolute;
    top: 25px;
    right: 40px;
}
.responses-item .estimates span {
    display: block;
    color: #000;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
}
.responses-item .estimates span.value {
    display: inline-block;
    width: 10px;
    text-align: center;
}
.responses-item .estimates span.value:before {
    content: ' — ';
    display: inline;
    color: #ccc;
}

.hotel_pics > img {
    float: left;
    margin-right: 10px;
    width: 200px;
}
