

.wait_answer
{
   color:red;
}

div.access
{
    position:relative;
    border-bottom: 1px solid #D1D0D0;
    color:#333;
    min-height:40px;
    padding:5px 90px 5px 5px;
}

div.no_access
{
  position:relative;
  border-bottom: 1px solid #D1D0D0;
  padding:5px;
  color:#cccccc;
}

div.access img
{
    position:absolute;
    right:5px;
    top:5px;
}


