/* Tour Search Results
---------------------------------------------------------------------------*/
.hotel-tour-results{
    margin-top: 0px;
}

.hotel-tour-results table {
    border-collapse: separate;
    border-spacing: 0 8px;
}
.hotel-tour-results tbody tr {
    background: #fff;
}
.hotel-tour-results table td {
    padding: 4px;
    text-align: center;
}
.hotel-tour-results table th {
    font-size: 12px;
    text-align: center;
}
.hotel-tour-results .favourite { padding: 0!important; width: 44px; }
.hotel-tour-results .favourite>img { margin-left: 15px }

.hotel-tour-results .favourite a {
    float: left;
    display: inline-block;
    width: 46px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-right: 2px solid #f8f8f8;
}
.hotel-tour-results .favourite a.active { color: #fff; background-color: #333; }
.hotel-tour-results .favourite a.active:hover { color: #00aeef; }

.hotel-tour-results .footable-row-detail-inner { width: 100%; }
.hotel-tour-results .footable-row-detail-cell { padding: 4px 20px; }

.hotel-tour-results .footable-visible { padding: 4px 20px; }

.hotel-tour-results .footable-last-column { padding: 4px; }
.hotel-tour-results .footable-first-column { width: 46px; }
.hotel-tour-results .footable-toggle {
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
}

.hotel-tour-results .footable > tbody > tr:hover:not(.footable-row-detail) { background-color: #ebebeb; }

.hotel-tour-results  .progress-section {
    background: #f0f0f0;
    padding: 20px 0 0 0;
    margin-bottom: 10px;
}
.hotel-tour-results .progress-bar {
    background-color: #0BB521
}

/*Выбор ночей*/
#nights-select {
    padding: 5px;
    border: 1px solid #ccc;
    display: table;
    background-color: #fff;
    display: none;
    z-index: 9;
    position: absolute;
    top: 0px;
}

#nights-select>strong {
    color: #00AEEF;
}

#nights-select table tr>td {
    border: 1px solid #DEDEDE;
    padding: 5px;
    background-color: #f7f7f7;
    text-align: center;
    cursor: pointer;

    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;

}

#nights-select .in-range {
    background: #B3E8FF !important;
}

#nights-select table tr>td:hover{
    background: #B3E8FF;
}
#nights-select table tr>td:active {
    background: #a3d4e9;
}

#nights-select .from-active, #nights-select .to-active {
    background: #357ebd !important;
    border-color: #3071a9;
    color: #fff;
}

/* Tours Kid's age
---------------------------------------------------------------------------*/

.kidsCount, .adultsCount {
    display: flex;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f7f7f7;
    padding: 10px 5px;
}
.kidsCount {
    padding: 10px 45px;
}

.kidsCount div, .adultsCount div{
    margin-right: 30px;
    color: #00AEEF;

    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.kidsCount div:hover, .adultsCount div:hover, .kidsCount .active, .adultsCount .active{
    color: #333333;
}

.kidsCount div:last-child, .adultsCount div:last-child{
    margin-right: 0px;
}

#noKids {
    color: #ccc;
}

#childage1SelectBoxIt, #childage2SelectBoxIt, #childage3SelectBoxIt  {
    width: 80px !important;
    margin: 0 10px;
    overflow: hidden;
}

.kidsAge{
    display: none;
}

.tourists-total {
    display: inline-block;
    padding-left: 8px;
    padding-right: 35px;
    background: #fff url('/images/select.png') no-repeat 100% 50%;
    cursor: pointer;
}
.tourists-total:hover {
    border-color: #66afe9;
}

.toursit-select * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    outline: none;
}
.toursit-select {
    position: relative;
    display: inline-block;
}
.toursit-select .tourists {
    width: 330px;
    position: absolute;
    top: 260px;
    left: 60px;
    display: none;
    padding: 9px;
    margin-top: -261px;
    height: auto;
    background-color: #fff;
    border: 1px solid #ebebeb;
    cursor: default !important;
    z-index: 500;

    box-shadow: 0px 0px 14px;
    -webkit-box-shadow: 0px 0px 14px;
    -moz-box-shadow: 0px 0px 14px;
    -ms-box-shadow: 0px 0px 14px;
    -o-box-shadow: 0px 0px 14px;
}

.toursit-select .tourists p { white-space: nowrap; }
.toursit-select.tourists ul.age {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.toursit-select .tourists ul.age > li { display: inline-block; margin-left: 4px; vertical-align: middle; }
.toursit-select .tourists ul.age > li:first-child { margin: 0; }

.tour-form-top .toursit-select .tourists label {
    line-height: 100%;
    font-weight: normal;
}
.toursit-select .tourists select {
    display: inline-block;
    margin-left: 3px;
    width: 60px;
    vertical-align: top;
}

#age-select { margin: 0; }
#age-select > span.selectboxit-container { margin-left: 4px; }


.toursit-select .tourists .age .btn {
    padding: 6px 10px;
    font-size: 17px;
    border-width: 0;
    vertical-align: top;
}

#departureValue, #countryValue {
    width: 160px;
}


.operator-label {
    display: inline-block;
    margin-bottom: 10px;
}