#cityFromPopover {
    overflow: hidden;
    width: 100%;
}

#countryPopover {
    width: 100%;
}

#search-module .dropdown-item, #search-module .form-control, .btn-group .btn{
    cursor: pointer;
}

#search-module .dropdown-header{
    color: #26aae3;
    background: #F8F9FA;
    font-weight: bold;
    font-size: .975rem;
}

.select-dropdown {
    width: 100%;
}

.select-dropdown .dropdown-item {
    white-space: normal;
}

.select-dropdown .dropdown-item:before {
    font-family: FontAwesome, serif;
    content: '\f096';
    margin-right: 5px;
}
.select-dropdown .dropdown-item.bg-primary:before {
    font-family: FontAwesome, serif;
    content: '\f046';
    margin-right: 5px;
}

.select-dropdown .dropdown-item + ul {
    margin-bottom: 0;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.btn-group .btn:focus, .btn-group .btn:active {
    outline: none !important;
    box-shadow: none;
}

.column-2 {
    column-count: 2;
}

.column-3 {
    column-count: 3;
}

.column-4 {
    column-count: 4;
}

.list-selected {
    background-color: #ffffff;
    font-size: 16px;
    padding: 10px 20px 10px 30px;
    width: 215px;
}

.list-selected_no_padding {
    padding: 10px 20px 10px 0px;
}

.list-selected li {
    color: #00aaef;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 5px;
}

.list-selected li:hover {
    color: #00aaef;
    text-decoration: underline;
}

.list-selected li.values__item_selected {
    font-weight: bold;
}

.list-selected li.values__item_selected:before {
    color: #28AAE2;
    content: "\f00c";
    font-family: FontAwesome;
    margin-left: -22px;
    margin-top: 2px;
    position: absolute;
}

.child-group .btn, .child-group .btn:hover, .child-group .btn:focus, .child-group .btn:active{
    outline: none !important;
}

.child-group .btn-outline-light:hover{
    background: #28baf2;
}

.child-group .btn-group:first-child {
    margin-right: 1.4rem !important;
}
.child-group .btn-group:last-child {
    margin-right: 0 !important;
}

.child-group .btn {
    padding: .5rem .4rem;
}

.human-list {
    height: auto;
    margin: 0;
    text-align: justify;
    white-space: nowrap;
    word-spacing: -3px;
}

.human-list__item {
    background-position: center bottom;
    background-repeat: no-repeat;
    color: rgba(251, 251, 251, 0.39);
    cursor: pointer;
    display: inline-block;
    height: 40px;
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: bottom;
    width: 26px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.human-list__item:hover {
    color: #b8e4ff;
}

.human-list__item:hover .human-list__action:before {
    color: #fff;
    content: '+ 1';
    font-size: 10px;
    font-weight: 700;
    position: relative;
    right: 0;
    text-align: center;
    top: -20px;

}

.human-list__item_child.human-list__item_selected .human-list__action:after {
    content: '';
}

.human-list__item.human-list__item_child:hover .human-list__action:before {
    right: 7px;
}

.human-list__item.human-list__item_selected:hover .human-list__action:before {
    content: '\00D7';
    font-size: 16px;
}

.human-list__item_selected {
    color: #fff;
}

.human-list__item_first-child {
    margin-left: 18px;
}

.human-list__item_child {
    height: 40px;
    width: 36px;
}

.human-list__item_child.human-list__item_disable {
    color: #DEDEDE;
    cursor: none;
    display: none;
}

.human-list__item_child.human-list__item_disable .human-list__action {
    cursor: not-allowed;
    user-select: none;
}

.human-list__action {
    color: #007cb9;
    text-align: left;
}

.human-list__action {
    background-position: left center;
    background-repeat: no-repeat;
    bottom: 0;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.human-list__item_child .human-list__action:after {
    bottom: 10px;
    color: #007cb9;
    content: '+';
    display: block;
    font-size: 18px;
    font-weight: 700;
    left: -10px;
    position: absolute;
    text-indent: 0;
    top: auto;
}

.human-list__year {
    bottom: -5px;
    color: #2980b9;
    cursor: pointer;
    font-size: 10px;
    left: 0px;
    letter-spacing: -.5px;
    line-height: 12px;
    position: absolute;
    text-align: center;
    text-decoration: underline;
    text-indent: 0;
    white-space: nowrap;
    word-spacing: normal;
}

.kidsAgePopover {
    display: none;
}

.datepicker__input {
    padding: 0px 10px 2px !important;
}

.datepicker__wrapper {
    border-radius: 5px;
    background: none !important;
    height: 47px !important;
}
.datepicker__dummy-wrapper {
    border-radius: 5px;
    background: #ffffffcf;
}

.datepicker__dummy-wrapper--is-active {
    border: 1px solid #26abe3 !important;
}

.datepicker__clear-button, .datepicker__close-button {
    color: #26abe3 !important;
}

.datepicker__month-day--selected:hover {
    background: #26abe3 !important;
    color: #fff !important;
}

.datepicker__month-day--selected {
    background-color: rgba(38, 171, 227, 0.51) !important;
}

.datepicker__month-day--first-day-selected, .datepicker__month-day--last-day-selected {
    background: #26abe3 !important;
}

.datepicker__dummy-input:first-child {
    text-indent: 0px !important;
    font-size: 16px;
    line-height: 1;
}
.datepicker__dummy-input {
    font-size: 16px !important;
    line-height: 1 !important;
}



/*POPVER*/

.webui-popover {
    border-radius: 0;
}

.webui-popover .webui-popover-content {
    padding: 0;
}

.webui-popover-title {
    padding: 15px 15px;
}

/*ADDITION-FILTER*/
.additional-filter {
    background-color: #ececfb;
    border: 1px solid #ececfb;
    color: #333;
    font-size: 13px;
}

.additional-filter__wrapper {
    display: block;
    list-style: none;
    margin: 0 0 10px;
    padding: 0 10px 15px;
}

.additional-filter__wrapper > li {
    margin-bottom: 15px;
}

.additional-filter .module-label {
    color: #313140;
    font-size: 15px;
    font-weight: 500;
    padding: 0 0 5px;
}

.check-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.webui-popover .check-list {
    padding: 5px 10px;
    width: 100%;
}

.check-list__item, .values__item {
    display: block;
    margin: 0;
    margin-bottom: 5px;
    padding: 4px 0 0;
}

.styled-checkbox {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    margin: 0 0 0 1px;
    padding: 0 0 0 22px;
    position: relative;
}

.styled-checkbox_values {
    box-sizing: border-box;
    display: block;
    line-height: 1.3;
    width: 100%;
}

.styled-checkbox:before {
    background: #fff;
    border: 1px solid #cacad9;
    box-sizing: border-box;
    color: #2980b9;
    content: '';
    font-family: module5-icon;
    font-size: 12px;
    height: 16px;
    left: 0;
    line-height: 11px;
    padding: 2px 0 0 1px;
    position: absolute;
    text-align: center;
    top: 1px;
    width: 16px;
}
.styled-radio {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    margin: 0 0 0 1px;
    padding: 0 5px 0 20px;
    position: relative;
}

/*SEARCH-RESULT*/
.tours-list .price {
    cursor: pointer;

    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.tours-list .price:hover {
    opacity: 0.9;
}


/*HOTEL_DESCRIPTION*/

.hotel-photos img {
    margin: 5px;

    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.hotel-photos img:hover {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
    -moz-filter: brightness(1.1);
    -o-filter: brightness(1.1);
}


/*Responsive*/
/*xs*/
@media (max-width: 767px) {

    .webui-popover.in {
        bottom: 0 !important;
        left: 0 !important;
        position: fixed !important;
        right: 0 !important;
        top: 30% !important;
    }

    #countryPopover h4 {
        padding: 0;
    }

    .column-4 {
        column-count: 2;
    }

    .values__image {
        display: none;
    }

    .styled-checkbox {
        padding: 0 0 0 35px;
    }

    .styled-checkbox:before {
        font-size: 40px;
        height: 30px;
        line-height: 24px;
        width: 30px;
    }

    .styled-checkbox_values {
        line-height: 1.8;
    }

    .column-3 {
        column-count: 2;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width: 321px)
and (max-width: 700px)
and (orientation: landscape) {

    #countryPopover > div {
        width: 33.33%;
    }

    #countryPopover {
        width: 33.33%;
    }

    .webui-popover.in {
        top: 0 !important;
    }

}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
     .additional-filter__wrapper {
        padding-left: 5px;
    }

    .webui-popover.in {
        bottom: 0 !important;
        left: 0 !important;
        position: fixed !important;
        right: 0 !important;
        top: 30% !important;
    }

    .styled-checkbox {
        padding: 0 0 0 35px;
    }

    .styled-checkbox:before {
        font-size: 40px;
        height: 30px;
        line-height: 24px;
        width: 30px;
    }

    .styled-checkbox_values {
        line-height: 1.8;
    }

    #countryPopover {
        width: 100%;
    }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
    .human-list__item_child {
        width: 25px;
    }

    .human-list__item_first-child {
        margin-left: 5px;
    }

    .human-list__item_child .human-list__action:after {
        left: -7px;
    }

    .human-list__item.human-list__item_child:hover .human-list__action:before {
        right: 1px;
    }
}

/*lg*/
@media (min-width: 1200px) {
    #countryPopover {
        width: 700px;
    }
}