/*=================================================================
                            Страна/курорт
===================================================================*/
.country_list {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
    list-style-type: none;
}
.country_list img {width: 40px; height: 40px}
.country_list li {padding: 5px}
.popular-resorts {float: left; padding:10px 40px; border: 1px solid #ccc; background: #0E90D2; border-radius: 5px 0 0 5px; color: #fff;}
.all-resorts {padding:10px 0; border: 1px solid #ccc; background: #fff; border-radius:0 5px 5px 0; color: #000; text-align: center;}

/*ТОП 10*/
.specialoffer-list > div {
    padding: 5px;
}

.specialoffer-list .item {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}
.specialoffer-list div > .img-link {
    display: block;
    height: 185px;
    -webkit-background-size: cover !important;
    background-size: cover !important;
}

.specialoffer-list div > .img-link:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.specialoffer-list .item_name  {
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
}
.specialoffer-list .item_price  {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 28px;
    color: #fff;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
}

.specialoffer-list .item_price:hover {
    background: rgba(0, 0, 0, 0.8);
}
.specialoffer-list .item_price .right {
    text-align: right;
}
.specialoffer-list .item_price .left {
    float: left;
    font-size: 20px;
}

.specialoffer-list .item_price span {
    text-transform: uppercase;
}

@media only screen and (max-width: 479px) {
    .specialoffer-list .item-wrap.col-xs-6 {
        width: 100%;
    }

}
