div.news-calendar-compact {
	display: block;
	width: 180px;
	padding: 5px;
	line-height: 100%;
	border-right: 1px solid #dcdcdc;
	border-left: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	background: #f7f7f7;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}
div.news-calendar-compact table.NewsCalTable {
	height: 150px;
}
div.news-calendar-compact-title, div.news-calendar-compact-footer {
	width: 190px;
	border: 1px solid #dcdcdc;
	background: url("images/top-slider-grad.png") repeat-x;
	text-align: center;
	font: 140%/38px Trebuchet MS;
	color: #7f7f7f;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
}
div.news-calendar-compact-footer a img{
	background: url("images/sprite-calendar-nav.png") no-repeat;
}
div.news-calendar-compact-footer .nccf-left {
	padding: 0 0 0 5px;
	text-align: left;
	vertical-align: middle;
}
div.news-calendar-compact-footer .nccf-right {
	padding: 0 5px 0 0;
	text-align: right;
	vertical-align: middle;
}
div.news-calendar-compact-footer .nccf-left a  {
	display: block;
}
div.news-calendar-compact-footer .nccf-left a  img {
	background-position: 0 0;
}
div.news-calendar-compact-footer .nccf-left a:hover img{
	background-position: 0 -33px;
}
div.news-calendar-compact-footer .nccf-right a  {
	display: block;
}
div.news-calendar-compact-footer .nccf-right a img {
	background-position: 0 -17px;
}
div.news-calendar-compact-footer .nccf-right a:hover img{
	background-position: 0 -50px;
}
div.news-calendar-compact  .NewsCalTable td {
	height: 28px;
	width: 28px;
	border:1px solid #fbfbfb;
	vertical-align: middle;
	text-align: center;
	font-size: 90%;
	font-weight: bold;
	background: #f3f3f3;
	color: #444;
}
div.news-calendar-compact  .NewsCalTable td a, div.news-calendar-compact  .NewsCalTable td span {
	display: block;
	height: 25px;
	line-height: 26px;
	border: 1px solid #d5d5d5;
}
div.news-calendar-compact  .NewsCalTable td:hover a {
	color: #fff;
	background: #00bfd3;
	border: 1px solid #00a4b5;
}
div.news-calendar-compact .NewsCalTable td.NewsCalToday{
	color:#1e71cf;
}
div.news-calendar-compact .NewsCalDefault{

}
div.news-calendar-compact .NewsCalTable .NewsCalOtherMonth {
	color: #bbb;
	background: #fafafa;
}
div.news-calendar-compact .NewsCalTable  td.NewsCalHeader{
	color:#7f7f7f;
	text-transform: uppercase;
	border: none;
	background: none;
}
div.news-calendar-compact .NewsCalMonthNav{
}
div.news-calendar-compact .NewsCalDay{
	color:#7f7f7f;
}
div.news-calendar-compact .NewsCalDayOther{
	color:#365D91;
}
div.news-calendar-compact .NewsCalNews{
	color:#7488B9;
}
