<template>
	<div class="s-input s-input__direction">
		<div class="s-input__label">Куда</div>
		<div class="s-input__select countrySelectBtn">
			{{countryName}} {{regionsName | shortName('region')}} {{subRegionsName | shortName('subregion')}} {{hotelsName | shortName('hotel')}}
								<input type="text">
		</div>

		<div id="countryPopover" style="display: none;">
			<div class="col-md-3 hidden-xs">
				<div class="popular-countries-wrap" v-bind:class="{'hidden' : regionsName.length > 0 || hotelsName.length > 0 || subRegionsName.length > 0}">
					<h3>Популярные</h3>
					<ul class="list-unstyled popularDeparture">
						<li v-for="countryItem in countriesData" v-if="IsPopularCountry(countryItem.id)" @click="setCountry(countryItem);">
							<span :class="FlagClass(countryItem.id)" class="values__image"></span>
							{{countryItem.name}}
						</li>
					</ul>
				</div>
				<div class="selected-values" v-bind:class="{'hidden' : regionsName.length == 0 && hotelsName.length == 0 && subRegionsName.length == 0}">
					<h3>Выбранные</h3>

					<div class="selected-values__regions" v-bind:class="{'hidden' : isEmpty(obRegionsSelected)}">
						<div class="module-label module-label__additional-filter js-prices-label-container">Регионы</div>
						<ul class="check-list">
							<li class="values__item" v-for="region in obRegionsSelected">
								<label class="styled-checkbox_values js-check-item">{{region.name}} <a href="" @click.prevent="setRegions(region)">×</a></label>
							</li>
						</ul>
					</div>
					<div class="selected-values__regions" v-bind:class="{'hidden' : isEmpty(obSubRegionsSelected)}">
						<div class="module-label module-label__additional-filter js-prices-label-container">Субрегионы</div>
						<ul class="check-list">
							<li class="values__item" v-for="subregion in obSubRegionsSelected">
								<label class="styled-checkbox_values js-check-item">{{subregion.name}} <a href="" @click.prevent="setSubRegions(subregion)">×</a></label>
							</li>
						</ul>
					</div>

					<div class="selected-values__hotels" v-bind:class="{'hidden' : isEmpty(obHotelsSelected)}">
						<div class="module-label module-label__additional-filter js-prices-label-container">Отели</div>
						<ul class="check-list">
							<li class="values__item" v-for="hotel in obHotelsSelected">
								<label class="styled-checkbox_values js-check-item">{{hotel.name}} <a href="" @click.prevent="setHotels(hotel)">×</a></label>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-xs-12" style="background: #fff">
				<h3>Выберите страну</h3>
				<div class="mCustomScrollbar" data-mcs-theme="minimal-dark">
					<ul class="s-box__depart-list list-unstyled">
						<li v-for="(item, letter) in groupedCountries">
							<h4>{{ letter}}</h4>
							<ul class="list-unstyled">
								<li v-for="countryItem in item" v-on:click="setCountry(countryItem)">
									<span :class="FlagClass(countryItem.id)" class="values__image"></span>{{countryItem.name}}</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 col-xs-12" style="background: #fff">
				<h3>Выберите регион</h3>
				<input type="text" v-model="regionSearchQuery" class="module-form-input-text module-form-search-input" placeholder="поиск курорта">
				<div class="mCustomScrollbar" data-mcs-theme="minimal-dark">
					<ul class="check-list">
						<li v-for="region in filteredRegions" class="values__item">
							<label class="styled-checkbox styled-checkbox_values js-check-item" @click="setRegions(region)" v-bind:class="{'styled-checkbox_checked' : findById(obRegionsSelected, region)}">
								{{region.name}}
												</label>
							<ul>
								<li class="values__item" v-for="subregion in region.subregions" @click="setSubRegions(subregion)">
									<label class="styled-checkbox styled-checkbox_values js-check-item" v-bind:class="{'styled-checkbox_checked' : findById(obSubRegionsSelected, subregion)}">
										{{subregion.name}}
														</label>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 col-xs-12" style="background: #fff">
				<h3>Выберите отель</h3>
				<input type="text" v-model="hotelSearchQuery" class="module-form-input-text module-form-search-input" placeholder="поиск отеля">
				<div class="mCustomScrollbar" data-mcs-theme="minimal-dark">
					<ul class="check-list">
						<li v-for="hotel in filteredHotels" class="values__item" @click="setHotels(hotel)">
							<label class="styled-checkbox styled-checkbox_values js-check-item" v-bind:class="{'styled-checkbox_checked' : findById(obHotelsSelected, hotel)}">
								{{hotel.name}} {{hotel.stars}}*
												</label>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>


<script>
    export default {
        name: 'com-countries',
        props: ['countriesData', 'regionsData', 'subRegionsData', 'hotelsData', 'country', 'hotels', 'regions', 'subregions', 'queryParams'],
        data () {
            return {
                countryName: 'Турция',

                regionsString : "",
                subRegionsString : "",
                hotelsString : "",
                obRegionsSelected: {},
                obSubRegionsSelected: {},
                obHotelsSelected: {},
                regionsName: "",
                subRegionsName: "",
                hotelsName: "",

                hotelSearchQuery: "",
                regionSearchQuery: "",
            }
        },
        methods: {
            //Устанавливаем ID города
            setCountry: function (countryItem) {
                this.countryName = countryItem.name;
                this.$emit('setcountry', countryItem.id);
            },

            setRegions: function (region = "") {
                let _this = this;

                if (region !== "") {
                    !_.find(this.obRegionsSelected, ['id', region.id]) ? this.obRegionsSelected[region.id] = {id: region.id, name: region.name} : delete this.obRegionsSelected[region.id];
                }
                this.regionsString = _.map(this.obRegionsSelected, 'id').join();
                this.regionsName = _.map(this.obRegionsSelected, 'name');

                this.$emit('setregions', this.regionsString);

            },
            setSubRegions: function (subregion = "") {
                if (subregion !== "") {
                    !_.find(this.obSubRegionsSelected, ['id', subregion.id]) ? this.obSubRegionsSelected[subregion.id] = {id: subregion.id, name: subregion.name} : delete this.obSubRegionsSelected[subregion.id];
                }
                this.subregions = _.map(this.obSubRegionsSelected, 'id').join();
                this.subRegionsName = _.map(this.obSubRegionsSelected, 'name');

                this.$emit('setsubregions', this.subregions);
            },

            setHotels: function (hotel = "") {
                if (hotel !== "") {
                    !_.find(this.obHotelsSelected, ['id', hotel.id]) ? this.obHotelsSelected[hotel.id] = {id: hotel.id, name: hotel.name} : delete this.obHotelsSelected[hotel.id];
                }
                this.hotels = _.map(this.obHotelsSelected, 'id').join();
                this.hotelsName = _.map(this.obHotelsSelected, 'name');

                this.$emit('sethotels', this.hotels);
            },

            IsPopularCountry: function (country) {
                let pop_countries = [4, 1, 6, 3];
                return _.includes(pop_countries, parseInt(country));
            },

            FlagClass: function (index) {
                return "values__image flag-ui_narrowtpl_flags_30x20_" + index;
            },

            //Проверка на пустоту
            isEmpty : function (object) {
				return _.isEmpty(object)
            },

            findById: function (object, item) {
                return _.find(object,['id', item.id])
            },

            //Закрытие поповера
            closePopover: function (type) {
                WebuiPopovers.hide(type);
            },
            //Комвертируем слова в массив
            arrayConvert: function (query) {
                return _.isString(query) ? _word(query) : query;
            }
        },
        computed: {
            //Группируем страны по буквам
            groupedCountries: function () {
                return _.groupBy(this.countriesData, function (s) {
                    return s.name.charAt();
                });
            },
            filteredHotels: function () {
                let self = this,
                    filtered = [];

                if(self.hotelsData !== undefined){
                    filtered = self.hotelsData.filter(function (hotel) {
                        return hotel.name.toLowerCase().indexOf(self.hotelSearchQuery.toLowerCase()) !== -1
                    });
                }

                return filtered.slice(0, 300);
            },
            filteredRegions: function () {
                let self = this;

                if(self.regionsData !== undefined) {
                    return self.regionsData.filter(function (region) {
                        return region.name.toLowerCase().indexOf(self.regionSearchQuery.toLowerCase()) !== -1
                    })
                }
            },
        },
        filters: {
            shortName: function (value, type) {
                if (value) {
                    if (value.length > 1) {
                        let titles = [];
                        if (type == 'region') {
                            titles = ['курорт', 'курорта', 'курортов'];
                        } else if (type == 'hotel') {
                            titles = ['отель', 'отеля', 'отелей'];
                        } else if (type == 'subregion') {
                            titles = ['поселок', 'поселка', 'поселков'];
                        }

                        value = value.length;
                        return "+ " + value + " " + titles[(value % 10 == 1 && value % 100 != 11 ? 0 : value % 10 >= 2 && value % 10 <= 4 && (value % 100 < 10 || value % 100 >= 20) ? 1 : 2)];

                    } else if (value.length == 1) {
                        return "+ " + value.toString();
                    }
                }
            },
        },

        watch: {
            country: function () {
                this.countryName = _.find(this.countriesData, ['id', this.country.toString()]) ? _.find(this.countriesData, ['id', this.country.toString()]).name : this.countryName;
            },
            queryParams : function () {
                let _this = this;
                if (_this.queryParams.regions !== undefined) {
                    let query = this.arrayConvert(_this.queryParams.regions);
                    console.log(query);
                    //_this.regions = query.join();
                    _.forEach(query, function (value, key) {
                        if (!_.find(_this.obRegions, ['id', value])) {
                            return;
                        }
                        _this.obRegionsSelected[value] = _.find(_this.obRegions, ['id', value]) ? _.find(_this.obRegions, ['id', value]) : "";
                    });
                    _this.setRegions();
                }
            }

        }
    }
</script>