<template>
	<div class="progress mt-3 mb-3" v-if="searchInAction">
		<div class="progress-bar progress-bar-striped progress-bar-animated bg-success d-flex justify-content-between" role="progressbar" :style="{'width' : searchProgress + '%'}" :aria-valuenow="searchProgress" aria-valuemin="0" aria-valuemax="100">
			<span class="progress-type pl-2">Поиск... Найдено туров: {{allRowsCount}}</span>
			<span class="progress-completed pr-2">{{searchProgress}}%</span>
		</div>
	</div>
</template>


<script>
    export default {
        name: 'com-progress-bar',
        props: ['searchInAction', 'searchProgress', 'allRowsCount'],
    }
</script>