<template>
	<ul class="list-unstyled">
		<div v-if="resultsData.length > 0">
			<li v-for="(hotel, index) in grouppedResults" class="animated fadeInRight mb-2 pt-2 pb-2">
				<div class="card bg-light" v-if="hotel.type === 'result'">
					<div class="card-body bg-white row no-gutters" style="box-shadow: 0px 1px 3px 1px #bfbfbf; z-index: 1;">
						<div class="col-12 text-success small text-md-right font-italic d-none d-xl-block"><i class="fa fa-info"></i> все цены с топливным сбором</div>

						<!--ФОТО ОТЕЛЯ-->
						<div class="col-auto col-md-6 col-xl-auto text-center mb-3 mb-md-0 align-self-center pr-3">
							<img :src="hotel.picturelink" alt="">
						</div>

						<!--НАЗВАНИЕ ОТЕЛЯ-->
						<div class="col-12 col-md-6 col-xl-3  align-self-center pr-3">
							<div class="col pl-0">
								<h4 class="display-8 mb-0"><a target="_blank" v-bind:href="'/hotel/'+hotel.hotelcode + '/?' + searchUrl">{{hotel.hotelname}}</a></h4>
							</div>
							<div class="col pl-0">
								<i class="fa fa-star text-warning" v-for="n in parseInt(hotel.hotelstars)"></i>
							</div>
							<div class="col pl-0" v-if="parseInt(hotel.hotelrating) > 0">
								<span :class="{'text-success' : hotel.hotelrating >= 4, 'text-warning': hotel.hotelrating >= 3 && hotel.hotelrating < 4, 'text-danger' : hotel.hotelrating < 3}">
									<i class="fa" :class="{'fa-thumbs-up' : hotel.hotelrating >= 4, 'fa-thumbs-o-up': hotel.hotelrating >= 3 && hotel.hotelrating < 4, 'fa-thumbs-down' : hotel.hotelrating < 3}"></i>
									{{hotel.hotelrating}}</span>/5
							</div>
							<div class="col pl-0">
								<small class="text-muted">{{hotel.regionname}}, {{hotel.countryname}}</small>
							</div>
						</div>

						<!--ВЫЛЕТЫ, НОЧИ, ТУРИСТЫ-->
						<div class="col-12 col-md-6 col-xl-3 align-self-start align-self-md-end align-self-xl-center pr-3">
							<dl>
								<dt>Вылеты {{hotel.minFlydate}}&nbsp;<span v-if="hotel.minFlydate !==hotel.maxFlydate"> —&nbsp;{{hotel.maxFlydate}}</span></dt>
								<dd>
									<span v-if="hotel.minNight == hotel.maxNight">на {{hotel.minNight | displayNights}}</span>
									<span v-if="hotel.minNight != hotel.maxNight">на {{hotel.minNight}}</span>
									<span v-if="hotel.minNight !== hotel.maxNight">&nbsp;—&nbsp; {{hotel.maxNight | displayNights}}</span>
									<br>
									<span>{{hotel.tours.tour[0].adults}} взр. <span v-if="parseInt(hotel.tours.tour[0].child) > 0">+ {{hotel.tours.tour[0].child}} реб.</span>  </span>
								</dd>
							</dl>
						</div>

						<!--КРАТКОЕ ОПИСАНИЕ ОТЕЛЯ-->
						<div class="d-none d-xl-block col-xl-2 align-self-start align-self-md-end align-self-xl-center pr-3 hotel-mini-description" data-placement="bottom" data-toggle="popover" title="Описание"
						     :data-content="hotel.hoteldescription">
							{{hotel.hoteldescription | shortText}}
						</div>

						<!--ЦЕНА-->
						<div class="col-12 col-md-6 col-xl-auto text-right align-self-start ml-md-auto">
							<div class="text-success small font-italic d-block d-xl-none"><i class="fa fa-info"></i> все цены с топливным сбором</div>

							<div class="text-muted h5 mb-0">
								<small>без скидки</small>
								<s>{{hotel.price | getOldPrice}}</s>
							</div>
							<div class="text-danger">
								<span class="h5">{{hotel.price | getCreditPrice}}</span>
								<small>в кредит 6 мес.</small>
							</div>

							<div class="text-primary h5" @click="openToursList(hotel.hotelcode)"><a href="javascript:void(0)"><span>{{hotel.price | formatPrice}}</span> за тур </a></div>

							<div class="mt-2">
								<a href="javascript:void(0);" class="ld-ext-left btn btn-info btn-block" @click="openHotelDescr(hotel.hotelcode, this)" :id="'hotelBtn-' + hotel.hotelcode">
									<span>Об отеле</span>
									<div class="ld ld-ring ld-spin"></div>
								</a>
							</div>
							<div class="mt-2">
								<a href="javascript:void(0);" class="btn btn-orange btn-block" @click="openToursList(hotel.hotelcode)">Все варианты <i class="fa fa-chevron-down"></i></a>
							</div>
						</div>
					</div>

					<!--ОПИСАНИЕ ОТЕЛЯ-->
					<div class="p-3 hotel-description" style="display: none;" v-bind:id="'descr-' + hotel.hotelcode" v-if="obHotelsDescr[hotel.hotelcode] !== undefined" v-show="obHotelsDescr[hotel.hotelcode] !== undefined">
						<div class="row hotel-photos d-flex justify-content-between" :id="'hotelPhotos_' + hotel.hotelcode" v-if="parseInt(obHotelsDescr[hotel.hotelcode].imagescount) > 0">
							<div class="" v-for="image in obHotelsDescr[hotel.hotelcode].images.image">
								<a :href="image" :data-fancybox="'gallery1'+hotel.hotelcode">
									<img class="img-thumbnail" :src="image" alt="">
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<p v-show="obHotelsDescr[hotel.hotelcode].description">{{obHotelsDescr[hotel.hotelcode].description}}</p>
								<p v-show="!obHotelsDescr[hotel.hotelcode].description">Извините, описание отеля недоступно</p>
								<ul class="list-unstyled">
									<li v-show="obHotelsDescr[hotel.hotelcode].inroom"><strong>В комнате:</strong> {{obHotelsDescr[hotel.hotelcode].inroom}}</li>
									<li v-show="obHotelsDescr[hotel.hotelcode].territory"><strong>Территория:</strong> {{obHotelsDescr[hotel.hotelcode].territory}}</li>
									<li v-show="obHotelsDescr[hotel.hotelcode].beach"><strong>Пляж:</strong> {{obHotelsDescr[hotel.hotelcode].beach}}</li>
									<li v-show="obHotelsDescr[hotel.hotelcode].placement"><strong>Расположение:</strong> {{obHotelsDescr[hotel.hotelcode].placement}}</li>
								</ul>
							</div>
						</div>
						<div class="row d-flex row bg-info pt-2 pb-2 text-white align-items-center mt-3">
							<div class="col-12 col-lg-9 display-8 mb-2 mb-lg-0">Есть вопросы по отелю? Задай их нашему эксперту</div>
							<div class="col-12 col-lg-3"><a class="btn btn-primary btn-block" href="javascript:void(0)" :data-hotel-id="hotel.hotelcode" data-toggle="modal" data-target="#expertQuestionModal">Задать вопрос</a></div>
						</div>
						<br>
						<div :id="'mapintab_'+hotel.hotelcode" style="height: 200px;"></div>
					</div>

					<!--СПИСОК ТУРОВ В ОТЕЛЬ-->
					<div class="p-3 tours-list d-none bg-darker" v-bind:id="'tours-' + hotel.hotelcode">
						<div class="d-block">
							<div class="row d-flex align-items-center bg-darker" v-for="tour in hotel.tours.tour">
								<div class="col-12 text-muted mb-3">{{tour.tourname}}</div>
								<div class="col-6 col-md-2">
									<p><strong>{{tour.flydate}}</strong></p>
									<p>{{tour.nights}} ночей</p>
								</div>
								<div class="col-6 col-md-3">
									<p><strong>{{tour.meal}}</strong></p>
									<p :title="hotel.mealrussian">{{tour.mealrussian}}</p>
								</div>
								<div class="col-6 col-md-2">
									<p><strong>{{tour.room}}</strong></p>
									<p :title="hotel.placement">{{tour.placement}}</p>
								</div>
								<div class="col-6 col-md-2">
									<p><strong>{{tour.operatorname}}</strong></p>
									<p><img v-bind:src="'https://tourvisor.ru/pics/operators/searchlogo/'+tour.operatorcode+'.gif'" alt=""></p>
								</div>
								<div class="col-12 col-md-3">

									<!-- ЦЕНЫ -->
									<div class="text-success text-left text-md-right mb-0">
										за тур
										<span class="price h3" @click.prevent="getDetail(tour.tourid)">{{tour.price | formatPrice}}</span>
									</div>
									<div class="text-muted text-left text-md-right">
										без скидки: <s class="h5">{{tour.price | getOldPrice}}</s>
									</div>
									<div class="text-danger text-left text-md-right price"  data-toggle="modal" :data-fast-tour-id="tour.tourid" data-info="credit" data-target="#fastOrderModal">
										в кредит 6 мес.: <span class="h5">{{tour.price | getCreditPrice}}</span>
										<p><small>(стоимость без первоначального взноса)</small></p>
									</div>
									<div class="text-info small text-left text-md-right mb-2" v-if="!hideRegular">
										<i>цена может быть не окончательной, необходимо обратиться в офис</i>
									</div>


									<!-- КНОПКИ -->
									<a href="#" class="btn btn-primary btn-block btn-sm ld-ext-left" :class="'detail-btn_'+tour.tourid" @click.prevent="getDetail(tour.tourid)">
										Тур подробно
										<div class="ld ld-ring ld-spin"></div>
									</a>

									<!-- ОТКЛЮЧАЕМ ДОБАВЛЕНИЕ В КОРЗИНУ -->
									<!-- a class="btn btn-outline-primary btn-block btn-sm" href="#" @click.prevent="addTour2Basket(tour.tourid, $event)">В корзину</a-->
									<a class="btn btn-outline-orange btn-sm btn-block" href="javascript:void(0)" data-toggle="modal" :data-fast-tour-id="tour.tourid" data-target="#fastOrderModal">Заказать в 1 клик</a>

								</div>
								<div class="col-12">
									<hr>
								</div>
							</div>
							<div class="text-center text-info" @click="openToursList(hotel.hotelcode)"><a href="javascript:void(0)"><i class="fa fa-chevron-up"></i> свернуть</a></div>
						</div>
					</div>
				</div>

				<div class="card bg-dark" v-if="hotel.type === 'banner'">{{hotel.banner.name}}</div>
			</li>
		</div>
		<div v-else>
			<div class="col-12 display-6 mt-5 mb-5 text-center text-success" v-if="!toursNotFound">
				Нажмите кнопку "Искать", для начала работы поиска
			</div>
			<div class="col-12 display-7 mt-5 mb-5 text-center text-danger" v-if="toursNotFound">
				Упс! Извините, но по заданным параметрам туров не найдено. Попробуйте изменить парметры поиска и снова нажать кнопку "Найти" <br>
				Либо отставьте заявку на подбор тура для наших менеджеров.
			</div>
		</div>
	</ul>
</template>


<script>
    export default {
        name: 'com-results',
        props: ['resultsData', 'searchUrl', 'toursNotFound', 'hideRegular'],
        data() {
            return {
                obHotelsDescr: {},
                obBanners: {
//                    0: {
//                        name: "Баннер 1",
//                        img: "",
//                    },
//                    1: {
//                        name: "Баннер 2",
//                        img: "",
//                    },
                },
            }
        },
        methods: {
            //Открывает и закрывает спиок туров
            openToursList: function (hotelId) {
                var tourList = $('#tours-' + hotelId);

                $('.hotel-description').slideUp();


                if (document.body.clientWidth <= 700) {
                    $("html, body").animate({scrollTop: $('#tours-' + hotelId).parent().offset().top + 300}, 100);
                } else {
                    $("html, body").animate({scrollTop: $('#tours-' + hotelId).parent().offset().top - 50}, 100);
                }

                if (tourList.hasClass('d-none')) {
                    tourList.removeClass('d-none');
                } else {
                    tourList.addClass('d-none');
                }

                //tourList.slideToggle();
            },

            openHotelDescr: function (hotelId) {
                var descrBlock = $('#descr-' + hotelId),
                    hotelBtn = $('#hotelBtn-' + hotelId);

                if (!_.has(this.obHotelsDescr, hotelId)) {
                    $(hotelBtn).addClass('running');

                    this.$http.get('/local/modules/newtravel.search/lib/ajax.php', {params: {type: "fullhotel", hotelcode: hotelId}}).then(function (response) {
                        if (response.body.data.hotel !== undefined) {
                            if (this.debug) {
                                console.log('======= Информация по отелю ========');
                            }
                            this.$set(this.obHotelsDescr, hotelId, response.body.data.hotel);

                            setTimeout(function () {
                                ymaps.ready(init);
                                function init() {
                                    // Создание карты.
                                    var myMap = new ymaps.Map("mapintab_" + hotelId, {
                                        center: [response.body.data.hotel.coord1, response.body.data.hotel.coord2],
                                        zoom: 16
                                    });
                                    var myPlacemark = new ymaps.Placemark([response.body.data.hotel.coord1, response.body.data.hotel.coord2], {
                                        hintContent: '',
                                        balloonContent: ''
                                    }, {
                                        iconImageHref: '/local/templates/newtravel/images/mappin.png',
                                    });
                                    myMap.geoObjects.add(myPlacemark);
                                }


//                                var mapintab = new GMaps({
//                                    el: '#mapintab_' + hotelId,
//                                    height: 322,
//                                    width: 100,
//                                    scrollwheel: false,
//                                    lat: response.body.data.hotel.coord1,
//                                    lng: response.body.data.hotel.coord2
//                                });
//
//                                mapintab.addMarker({
//                                    lat: response.body.data.hotel.coord1,
//                                    lng: response.body.data.hotel.coord2,
//                                    clickable: false,
//                                    icon: "/local/templates/newtravel/images/mappin.png"
//                                });

                                $(".hotel-photos a").fancybox();

                                $("#hotelPhotos_" + hotelId).slick({
                                    //autoplay: true,

                                    arrows: false,
                                    autoplaySpeed: 3000,
                                    slidesToShow: 6,
                                    slidesToScroll: 3,
                                    responsive: [
                                        {
                                            breakpoint: 1024,
                                            settings: {
                                                slidesToShow: 4,
                                                slidesToScroll: 1,
                                                infinite: true,
                                                dots: false,
                                            }
                                        },
                                        {
                                            breakpoint: 600,
                                            settings: {
                                                slidesToShow: 3,
                                                slidesToScroll: 2,
                                                dots: false,
                                            }
                                        },
                                        {
                                            dots: false,
                                            arrows: false,
                                            breakpoint: 480,
                                            settings: {
                                                slidesToShow: 2,
                                                slidesToScroll: 1
                                            }
                                        }
                                    ],
                                });

                            }, 500);
                        } else {
                            if (this.debug) {
                                console.log("Ошибка fullhotel");
                            }
                        }
                        $(hotelBtn).removeClass('running');
                    });
                }
                descrBlock.slideToggle();
            },

            //Детальная актуализация, взывает модальное окно
            getDetail: function (tourid) {
                var detailParams = {
                    tourid: tourid,
                };

                $('.detail-btn_' + tourid).addClass('running');

                var myModal = new jBox('Modal', {
                    onClose: function () {
                        $('.jBox-Modal').remove();
                        //$('.jBox-overlay').remove();
                        $('.detail-btn_' + tourid).removeClass('running');
                    },
                });

                myModal.open({
                    responsiveWidth: true,
                    responsiveHeight: true,
                    width: "950",
                    height: "900",
                    closeButton: true,
                    blockScroll: true,
                    ajax: {
                        url: '/local/components/newtravel.search/full.search.v2/templates/.default/detail.php',
                        data: detailParams,
                        reload: 'strict',
                        spinner: true,
                    },
                });
            },

            //Добавление тура в корзину
            addTour2Basket: function (tourid, event) {
                this.$http.get('/local/modules/newtravel.search/lib/ajax.php', {params: {type: "addToToursBasket", tourid: tourid}}).then(function (response) {
                    if (response.body === 'success') {
                        $(event.target).text('Добавлено');
                        if (window.tbs !== undefined) {
                            window.tbs.getCount();
                        }
                    }
                });
            },

        },
        computed: {
            grouppedResults: function () {
                var self = this;

                _.forEach(self.resultsData, function (hotel, key) {
                    var minNightValue = _.minBy(hotel.tours.tour, function (o) {
                        return parseInt(o.nights)
                    });
                    var maxNightValue = _.maxBy(hotel.tours.tour, function (o) {
                        return parseInt(o.nights)
                    });
                    var minFlydateValue = _.minBy(hotel.tours.tour, function (o) {
                        return moment(o.flydate, 'DD.MM.YYYY').format('X')
                    });
                    var maxFlydateValue = _.maxBy(hotel.tours.tour, function (o) {
                        return moment(o.flydate, 'DD.MM.YYYY').format('X')
                    });

                    moment.locale('en');
                    self.resultsData[key].minNight = minNightValue.nights;
                    self.resultsData[key].maxNight = maxNightValue.nights;
                    self.resultsData[key].minFlydate = moment(minFlydateValue.flydate, 'DD.MM.YYYY').format('DD.MM');
                    self.resultsData[key].maxFlydate = moment(maxFlydateValue.flydate, 'DD.MM.YYYY').format('DD.MM');
                    self.resultsData[key].type = "result";
                });


                //TODO Доделать баннеры
//                var bannerPosition = [3, 7];
//                _.forEach(bannerPosition, function (key) {
//                    var newIndex = self.resultsData.push({type : 'banner', banner: self.obBanners[_.indexOf(bannerPosition, key)]});
//                    var element = self.resultsData[newIndex-1];
//                    self.resultsData.splice(newIndex-1, 1);
//                    self.resultsData.splice(key, 0, element);
//                });


                return self.resultsData;
            },
        },
        filters: {
            formatPrice: function (value) {
                return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ") + ' Р';
            },

            getOldPrice: function (value) {
                value = parseInt(value) + parseInt(value * 0.11);
                return Math.round(value).toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ") + ' Р';
            },

            getCreditPrice: function (value) {
                value = (parseInt(value) + parseInt(value * 0.0717)) / 6;
                return Math.round(value).toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ") + ' Р';
            },



            shortText: function (value) {
                let sliced = value.slice(0, 100);
                if (sliced.length < value.length) {
                    sliced += '...';
                }

                return sliced;

            },


            displayNights: function (value) {
                if (!value) {
                    return "";
                } else {
                    var titles = ['ночь', 'ночи', 'ночей'];
                    value = parseInt(value);
                    return value + " " + titles[(value % 10 == 1 && value % 100 != 11 ? 0 : value % 10 >= 2 && value % 10 <= 4 && (value % 100 < 10 || value % 100 >= 20) ? 1 : 2)];
                }
            },


        }

    }
</script>