
/* 42.9 Tabs
---------------------------------------------------------------------------*/
.nav-tabs > li {
    margin-right: 5px;
    background-color: #00aeef;
}
.nav-tabs > li > a {
    margin-right: 0;
    border: 0 solid transparent;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition-property: background;
    -moz-transition-property: background;
    -o-transition-property: background;
    -ms-transition-property: background;
    transition-property: background;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    color: #fff;
    background: #00aeef;
}

/* active tab */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    margin-right: 0;
    margin-top: -5px;
    padding-top: 14px;
    padding-bottom: 11px;
    background-color: #333;
    color: #fff;
    border: 0 solid transparent;
    border-radius: 0;
}

.tab-content {
    padding: 30px;
}
.tab-content .row {
    margin-top: 10px;
}
.tab-content .row:first-child {
    margin-top: 0;
}
.tab-content > .tab-pane {
    outline: none;
}



.tabs-box {
    margin-bottom: 50px;
}
.tabs-box .nav-tabs {
    border: 0 none ;
}
.tabs-box .nav-tabs > li { margin-bottom: 0; }
.tabs-box .nav-tabs > li > a:hover .icon{
    background-color: #00aeef;
}
.tabs-box .nav-tabs > li > a:hover {
    background-color: #333;
}

.tabs-box .tab-content {
    padding: 0;
    overflow: hidden;
}
.tabs-box .tab-content .tab-pane > ul {
    margin: 0;
}

#tab-services,
#tab-info {
    padding: 30px 0 20px;
}

#tab-services h3 {
    text-transform: uppercase;
    padding: 0;
}

#tab-services .col-sm-12>i{
    display: block;
}

#tab-services .col-sm-12>i:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #00aeef;
    font-size: 30px;
    line-height: 1em;
    text-align: center;
}

#tab-services .customScroll {
    height: 230px;
    margin-bottom: 25px;
    background-color: #FDFDFD;
    padding: 10px;
}

#tab-services ul {
    padding: 0;
    list-style-type: none;
}

#tab-services ul li {
    display: inline-flex;
}

#tab-services ul li:before {
    content: '-';
    font-weight: bold;
}

.columns {
    -webkit-column-width: 150px;
    -moz-column-width: 150px;
    column-width: 150px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
    -webkit-column-rule: 1px solid #ccc;
    -moz-column-rule: 1px solid #ccc;
    column-rule: 1px solid #ccc;
    height: 400px;
    margin-bottom: 25px;
}

.tabs-box .nav-tabs > li .icon {
    margin-right: 7px;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    background: #00aeef;
    border-radius: 50%;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}
.tabs-box .nav-tabs > li > a .icon {
    background: rgba(0,0,0, .1);
}
.tabs-box .nav-tabs > li.active > a .icon {
    background: rgba(255,255,255, .1);
}



/* ==========================================================================
   Hotel
========================================================================== */
/* Hotel title
---------------------------------------------------------------------------*/
.hotel-title {
    width: 100%;
    margin-bottom: 30px;
}
.hotel-title h3 {
    text-transform: uppercase;
    margin: 0;
}

.hotel-stars {
    margin-right: 10px;
}
.hotel-stars .icon {
    margin-left: 4px;
    display: inline-block;
    height: 24px;
    font-size: 19px;
    line-height: 20px;
    vertical-align: middle;
    color: #747474;
}
.hotel-stars .icon:first-child {
    margin: 0;
}
.hotel-stars .icon:before {
    margin: 0;
    width: auto;
    height: auto;
    text-align: center;
}

/* Hotel info
---------------------------------------------------------------------------*/
.hotel-info {
    float: right;
    margin-bottom: 30px;
}
.hotel-info > span {
    margin-left: 10px;
}
.hotel-info > span:first-child {
    margin-left: 0;
}

.hotel-type .icon {
    margin: 0 2px;
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #333;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    background: #ddd;
    border-radius: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.hotel-type .icon:hover {
    color: #fff;
    background: #00aeef;
}
.hotel-type .icon:before {
    margin: 0;
    width: auto;
    height: auto;
    text-align: center;
}

/* Hotel details
---------------------------------------------------------------------------*/
.hotel-details p { margin-bottom: 0; }
.hotel-details h3 { text-transform: uppercase; }
.hotel-details span { color: #333; }


.hotel-details .beach ul{
    padding: 0;
    list-style: none;
    color: #333;
}

.hotel-details .hotel-spec-item, #tab-services .hotel-spec-item{
    position: relative;
    padding-left: 45px;
}
.hotel-details .hotel-spec-item:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #00aeef;
    font-family: "fontello";
    font-size: 30px;
    line-height: 1em;
    text-align: center;
}
.hotel-spec-item.i-contacts:before { content: '\e812'; }
.hotel-spec-item.i-info:before { content: '\e811'; }
.hotel-spec-item.i-beach:before { content: '\e810'; }


/* Tour Search Form
---------------------------------------------------------------------------*/
.hotel-tour-form a.show-all {
    display: inline-block;
    margin-top: 15px;
    border-bottom: 1px dotted;
}
.hotel-tour-form {
    margin-bottom: 30px;
}
.hotel-tour-form-title {
    margin-bottom: 13px;
}
.hotel-tour-form-title {
    text-transform: uppercase;
}

.hotel-tour-form-line {
    display: inline-block;
    margin-bottom: 10px!important;
}

.hotel-tour-form .calendar {
    display: inline-block;
    background: #fff url('../images/calendar.png') no-repeat 100% 50%;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    outline: none;
}
.hotel-tour-form .calendar:hover {
    border-color: #66afe9;
}

/* Kid's age
---------------------------------------------------------------------------*/
.hotel-tour-form .kids-total {
    display: inline-block;
    padding-left: 8px;
    width: 38px;
    background: #fff url('../images/select.png') no-repeat 100% 50%;
    cursor: pointer;
}
.hotel-tour-form .kids-total:hover {
    border-color: #66afe9;
}

.hotel-tour-form .kids-select * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    outline: none;
}

.hotel-tour-form .kids-select {
    position: relative;
    display: inline-block;
}
.hotel-tour-form .kids-select .kids {
    position: absolute;
    bottom: 0px;
    left: 0;
    display: none;
    padding: 10px;
    margin-top: -261px;
    height: auto;
    background-color: #fff;
    border: 1px solid #ebebeb;
    cursor: default !important;
    z-index: 500;
}

.hotel-tour-form .kids-select .kids p { white-space: nowrap; }

.hotel-tour-form .kids-select .kids ul.age {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.hotel-tour-form .kids-select .kids ul.age > li { display: inline-block; margin-left: 4px; vertical-align: middle; }
.hotel-tour-form .kids-select .kids ul.age > li:first-child { margin: 0; }

.hotel-tour-form .kids-select .kids label {
    line-height: 100%;
    font-weight: normal;
}
.hotel-tour-form .kids-select .kids select {
    display: inline-block;
    margin-left: 3px;
    width: 60px;
    vertical-align: top;
}

.hotel-tour-form #age-select { margin: 0; }
.hotel-tour-form #age-select > span.selectboxit-container { margin-left: 4px; }


.hotel-tour-form .kids-select .kids .age .btn {
    padding: 6px 10px;
    font-size: 17px;
    border-width: 0;
    vertical-align: top;
}


/* Form Controls
---------------------------------------------------------------------------*/
.form-control {
    padding: 7px 5px;
    width: 100%;
    height: auto;
    background-color: #fff;
    border: 1px solid #e4e4e4;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;

    vertical-align: middle;
}

.selectmenuox {
    position: relative;
}

.selectbox select {
    position: absolute;
    width: 135px;
    height: 34px;
    font-size: 14px;
    opacity: 1;
}
/* ==========================================================================
   Responses
========================================================================== */
.responses-title {
    overflow: hidden;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.responses-item {
    position: relative;
    margin-bottom: 30px;
    padding: 30px 40px;
    background-color: #f8f8f8;
    border: 1px solid #e4e4e4;
    overflow: hidden;
}
.responses-item.newtravel {
    background-color: #f2f6f7;
    border-color: #bde4f1;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.responses-item .author { float: left; }
.responses-item .author .avatar {
    margin-bottom: 20px;
    width: 130px;
    height: 130px;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.responses-item .author-detail { text-align: center; line-height: normal; }
.responses-item .author-name { display: block; font-weight: bold; }
.responses-item .author-post { display: block; margin-bottom: 5px; }

.responses-item blockquote {
    display: block;
    padding: 0;
    margin: 15px 140px 0 170px;
    color: #333;
    font-size: 16px;
    border: none;
}
.responses-item .estimates {
    position: absolute;
    top: 25px;
    right: 40px;
}
.responses-item .estimates span {
    display: block;
    color: #000;
    font-size: 13px;
    text-align: right;
    white-space: nowrap;
}
.responses-item .estimates span.value {
    display: inline-block;
    width: 10px;
    text-align: center;
}
.responses-item .estimates span.value:before {
    content: ' — ';
    display: inline;
    color: #ccc;
}



/* ==========================================================================
   Pagination
========================================================================== */
.pagination {
    margin: 0 0 25px;
}
.pagination > li {
    display: inline-block;
    margin-right: 2px;
}
.pagination > li > a,
.pagination > li > span {
    color: #fff;
    background-color: #00aeef;
    border-color: #00aeef;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #fff;
    background-color: #333;
    border-color: #333;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    color: #fff;
    background-color: #333;
    border-color: #333;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-radius: 0;
}

/* ==========================================================================
   Carousel
========================================================================== */
.carousel {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
/*
.carousel > li {
    display: inline-block;
}
.carousel > li > .carousel-item {
    white-space: normal;
}*/
/*.carousel > li > img { width: 100%; }*/

.caroufredsel_wrapper {
    cursor: grab!important;
    cursor: -moz-grab!important;
    cursor: -webkit-grab!important;
    margin: 0px!important;
    /*height: 320px;*/
    width: auto!important;
}
.caroufredsel_wrapper.active {
    cursor: grabbing!important;
    cursor: -moz-grabbing!important;
    cursor: -webkit-grabbing!important;
}

.caroufredsel-prev {
    position: absolute;
    left: 15px;
    bottom: 130px;
    font-size: 40px;
}

.caroufredsel-next {
    position: absolute;
    right: 15px;
    bottom: 130px;
    font-size: 40px;
}

.hotel-photos {
    height: 320px;
}

.hotel-photos .carousel {
    opacity: 0;
}

.hotel-photos .carousel-item {
    display: block;
}

.hotel-photos .carousel > li {
    float: left;
    margin-right: 0 !important;
}
.hotel-photos .carousel img {
    display: block;
    height: 320px;
}



/* ==========================================================================
   Advices
========================================================================== */
.carousel-advices .item {
    margin-bottom: 30px;
}
.carousel-advices .item .title {
    text-transform: uppercase;
    font-weight: bold;
}
.carousel-advices .item .title i {
    margin-right: 10px;
}
