.post-title h1 {
    font-size: 24px;
    line-height: 1.5;
    color: #00aaef;
}

/* ==========================================================================
   7. Фотогалерея страны
========================================================================== */
/* 7.1 Wrapper
---------------------------------------------------------------------------*/
.resort-gallery {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    /*overflow: hidden;*/
    list-style: none;
    text-align: center;
}

/* 7.2 items
---------------------------------------------------------------------------*/
.resort-gallery li {
    float: left;
    padding: 4px;
    width: 150px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 0 0px 15px 15px;
    background-color: #ffffff;

    -webkit-border: 1px solid #e4e4e4;
    -moz-border: 1px solid #e4e4e4;
    -o-border: 1px solid #e4e4e4;
    border: 1px solid #e4e4e4;
}

.resort-gallery li .img-figure {
    margin: 0;
    z-index: 0;
    height: auto;
    overflow: hidden;
    position: relative;
}

.categories_resort ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.categories_resort ul li {
    font-size: 15px;
    position: relative;
    padding-left: 10px;
    float: left;
    width: 170px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.categories_resort ul li:last-child { margin-bottom: 0; }
.categories_resort ul li:before {
    left: 0;
    color: #00aeef;
    content: "\f105";
    font-style: normal;
    position: absolute;
    font-family: 'FontAwesome';
}
.categories_resort ul li a:hover { padding-left: 5px; }

.categories_resort .tab-content {
    background: #fff;
    padding: 10px;
    box-shadow: none;
}


/* 7.3 Overlayer
---------------------------------------------------------------------------*/
.img-figure-overlayer {
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);

    -webkit-border: 4px solid #ffffff;
    -moz-border: 4px solid #ffffff;
    -o-border: 4px solid #ffffff;
    border: 4px solid #ffffff;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.img-figure-overlayer a {
    top: 50%;
    width: 40px;
    height: 40px;
    color: #ffffff;
    font-size: 20px;
    margin-top: -20px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    background-color: #0E90D2;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.img-figure-overlayer a:first-child {
    left: 50%;
    line-height: 42px;
    margin-left: -40px;
}
.img-figure-overlayer a:last-child {
    right: 50%;
    margin-right: -45px;
}

/* 7.4 Title Caption
---------------------------------------------------------------------------*/
.resort-gallery li .title-caption {
    left: 0;
    z-index: 2;
    width: 100%;
    bottom: 4px;
    height: auto;
    overflow: hidden;
    position: absolute;
}

.resort-gallery li .title-caption span {
    padding: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    letter-spacing: 1px;
    background-color: rgba(227, 224, 226, 0.2);
    font-family: "Lato", Helvetica, Arial, sans-serif;
}
.resort-gallery li .title-caption span:before {
    top: 0;
    left:0;
    content:'';
    z-index: -1;
    width: 100%;
    height: 100%;
    position:absolute;
    background-color: rgba(0, 0, 0, 0.5);
}
.resort-gallery li .title-caption span:first-child {
    float: left;
    margin-left: 4px;
}
.resort-gallery li .title-caption span:last-child {
    float: right;
    font-size: 18px;
    margin-right: 4px;
}

.resort-gallery li .img-figure img {
    width: 100%;
    display: block;
    position: relative;
}
.resort-gallery li:hover .img-figure-overlayer { opacity: 1;}

.img-figure-overlayer a:hover {
    color: #ffffff;
    background-color: #333333;
}

.single-post .loadPriceBtn {
    margin-bottom: 10px;
}

.load-price-wrap {
    border-bottom: 1px solid #d0d0d0;
    padding: 10px;
    margin-bottom: 15px;
    background: #f1f1f1;
}

.hotel_price {
    font-size: 22px;
    margin: 8px 15px 15px 0;
    display: inline-block;
    line-height: 0.5;
}

.hotel_price.btn {
    margin: 0;
}

.date-picker-wrapper, .nights-select, .touristsSelect {
    z-index: 9999 !important;
}

.sidebar-open-btn {
    background: orangered;
    border-radius: 50%;
    padding: 15px;
    position: fixed;
    left: -20px;
    height: 60px;
    width: 60px;
    top: 20%;
    font-size: 27px;
    color: #fff;
    border: 3px solid orange;
    outline: none;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.sidebar-open-btn:hover {
    left: 5px;
}
.fixed-sidebar.open .sidebar-open-btn{
    left: 96%;
}
.fixed-sidebar.open .sidebar-open-btn:hover{
    left: 95%;
}

.fixed-sidebar {
    background: #0bbadf;
    padding: 30px;
    max-width: 100%;
    position: fixed;
    left: -100%;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

}

.fixed-sidebar.open {
    left: 0;
}

.fixed-sidebar .card-wrap {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.fixed-sidebar .card {
    background: #fff;
}