.samo_container {
    background:#FFF;
    clear: both;
    color:#000;
    font-family: tahoma, arial, "sans serif";
    font-size: 1em;
    margin: 2em auto auto auto;
    text-align: center;
/*    display: none; */
}

.samo_container fieldset{
    border: 1px solid #e4e4e4;
    padding: 10px;
    padding-top: "0px";
}
.samo_container fieldset legend {
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}
.samo_container .container {
    margin: auto;
    width: 64em;
}
.samo_container .r {
    text-align: right !important;
}
.samo_container .l {
    text-align: left !important;
}
.samo_container .c {
    text-align: center !important;
}
.samo_container table {
	width:100%;
}
.samo_container table td, .samo_container table th{
    font: 9pt/1.2em Tahoma,Verdana,Helvetica,sans-serif;
}

.samo_container select {
    font-size: 1.2em;
    width: 100%;
}
.samo_container .std{
    margin: auto;
    width: 100%;
    border-collapse: separate;
    border-spacing: 15px !important;
}
.samo_container td.panel {
    padding: 5px;
    border: 1px dashed #e4e4e4;
}

.samo_container div.title_left {
    float: left;
    margin-top: -1.2em;
    margin-top: "0px";
    background-color: #ebf8e6;
    width: 17em;
    border: 1px solid #e4e4e4;
    padding: 2px 10px 2px 10px;
    white-space: nowrap;
    text-align: left;
}
.samo_container div.title_right {
    float: right;
    margin-top: -1.2em;
    margin-top: "0px";
    background-color: #ebf8e6;
    width: 2em;
    border: 1px solid #e4e4e4;
    padding: 1px 2px 1px 2px;
    white-space: norwap;
    text-align: center;
    cursor: pointer;
}
.samo_container td.panel td{
    padding: 3px;
    text-align: right;
    white-space: nowrap;
}
.samo_container input.date, .samo_container input.spin-button {
    background-repeat: no-repeat;
    background-position: 100% 0%;
    padding-right: 0.13em;
    padding-left: 0.2em;
}
.samo_container input.spin-button {
    background-image: url('images/spinbtn_updn.gif');
    font-size: 11px;
}
.samo_container input.spin-button.up {
    cursor: pointer;
    background-position: 100% -17px;
}
.samo_container input.spin-button.down {
    cursor: pointer;
    background-position: 100% -34px;
}
.samo_container input.spin-button  {
    padding-top: 0.08em;
    width: 5.2em;
}
.samo_container input.date {
    width: 7em;
    font-size: 11px;
}

#preloader {
    padding: 2px;
    line-height: 17px;
    width: 130px;
    height: 18px;
    background-image: url("preloader.gif");
    background-repeat: no-repeat;
    background-position: 3px 50%;
    background-color: #CBE0C1;
    border: 1px solid green;
    display: none;
    top: 50%;
    font-family: tahoma, arial, "sans serif";
    font-size: 11px !important;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    left: 50%;
    margin-left: -75px;
}
#preloader img {
    width: 16px;
    height: 16px;
}
@media screen {
    div#preloader {
        position: fixed;
    }

    * html div#preloader {
/*        top: expression( ( 5 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' ); */
        position: absolute;
        height: 24px;
    }

}
#logout {
    margin-left: 30px;
    margin-right: 50px;
}
#div_logout{
    text-align: right;
    font-weight: bold;
}
.error {
    border: solid 1px red;
    text-align: center;
}

#alert {
    background-color: InfoBackground;
    border: 1px solid ActiveBorder;
    width: 350px;
    height: 40px;
    padding: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    margin-top: -20px;
    display: none;
    font-family: tahoma,arial,sans serif;
    font-size: 1.3em;
    color: InfoText;
    text-align: center;
}
ul.mainmenu {
    margin-left: 40px;
    text-align: left;
}
ul.mainmenu li {
    padding-top: 10px;
    list-style: circle;
    color: #699ED1;
}
ul.mainmenu li a {
    color: #3274D0;
    font-weight: bold;
}
ul.mainmenu li a:visited {
    color: #336699;
}
div.samosoft {
    clear: both;
    text-align: right;
    margin-right: 20px;
}
div.samosoft{
    font-family: tahoma, arial, "sans serif";
    font-size: 1em;
}
div.samosoft a {
    color: #0F5237;
}
div.samosoft a:hover {
    color: #F76900;
}
@media print {
    #div_logout, button {
        display: none;
    }
    .checklistbox {
        height: 100%;
    }
    .tab {
        display: block !important;
        page-break-after: always;
    }
    .tab fieldset {
        width: 80%;
    }
    #header {
        display: none;
    }
}
/* Pager begin*/
div#pager {
    margin-top: 10px;
}
div#pager span {
    padding: 0 6px;
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;
}
div#pager span.current {
    font-weight: bold;
    text-decoration: none;
}
/* Pager end*/

table.res{
    border: 1px solid silver;
    border-collapse: collapse;
    border-spacing: 0px;
    empty-cells: show;
    width: 97%;
    margin: auto;
}
.samo_container table.res thead th, .samo_container table.res thead td, table.jCalendar thead th{
    background: #EAF0FC;
    background-image: url('images/title_back.gif');
    background-repeat: repeat-x;
    background-position: top;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    font-weight: bold;
    color: #444;
    overflow: hidden;
    white-space: nowrap;
}
.samo_container table.res th, .samo_container table.res td {
    border-right: 1px solid #DEDEDE;
    padding: 3px;
    border-bottom: 1px solid #DEDEDE;
}
.samo_container table.res td.c, .samo_container table.res th.c {
    text-align: center;
}
.samo_container .silver{
    background-color: #F8FAFF;
}
span.delta {
    font-weight: bold;
}
.button{
    font-weight: normal !important;
    padding-left: 3px;
    padding-right: 3px;
}
div.eraser {
    clear: both;
    height: 1px;
    line-height: 1px;
}


/* Overlay */
#modalOverlay {height:100%; width:100%; position:fixed; left:0; top:0; z-index:3000; background-color:#000; cursor:     progress;}

/* Container */
#modalContainer {position:fixed; position: "absolute"; left: 50%; top: 40px; z-index: 3001; background-color: #fff; border: 2px solid #666;}
#modalContainer {
    top: expression( (document.documentElement.offsetHeight > 600 ) ? ( 40 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' : '40px' );
}
#modalContainer a.modalCloseImg {background-image: url('images/close-bg.png');background-repeat: no-repeat; width:16px; height:16px;float: right; cursor:pointer;}
#modalContainer  div.modalTitle { background-color: #B6CCF6; color: black; font-family: Tahoma; font-size: 11px; font-weight: bold; height: 16px; line-height:14px; text-align:center;}
#modalContainer a.modalCloseImg:hover { background-position: -16px 0;}
#modalContainer #basicModalContent { padding: 8px;}
#modalContainer .samo_container { margin: 0; padding: 0;}

.samo_container input.fio {
    text-transform: uppercase;
}

.samo_container .checklistbox .not-actual {
    font-style: italic;
    color: #666;
}



.samo_container .checklistbox {
    overflow: -moz-scrollbars-vertical !important;
    overflow: auto;
    border-top: 1px solid silver;
    border-left: 1px solid silver;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    background-color: white;
    padding: 4px;
    height: 11em;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: left;
}
.samo_container .checklistbox label input {
    margin-right: 5px;
}
.samo_container .checklistbox label {
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding: 1px;
}

.samo_container span.link {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.samo_container .resultset {
    padding: 1em 1em 0 1em;
}

/****************************************** datepicker *********************************************/

table.jCalendar {
    font-size: 11px;
    border: 1px solid #ddd;
    background: #fff;
    border-collapse: collapse;
    border-spacing: 0px;
}

table.jCalendar th {
    color: black;
    background-color: ButtonFace;
    font-weight: bold;
    padding: 3px 5px;
    border: none;
}
table.jCalendar thead th {
    border: none;
}
table.jCalendar thead {
    border-bottom: solid 1px #eee;
}
table.jCalendar td {
    background: white;
    color: #000;
    padding: 3px 5px;
    text-align: center;
}
table.jCalendar td.other-month {
    color: #aaa;
}
table.jCalendar td.today {
    background: #666;
    color: #fff;
    font-weight: bold;
}
table.jCalendar td.selected {
    background: #f66;
    color: #fff;
    font-weight: bold;
}
table.jCalendar td.selected:hover {
    background: #f33;
    color: #fff;
}

div#dp-popup {
    position: absolute;
    font-size: 10px;
    font-family: arial, sans-serif;
    background-color: #F8FAFF;
    padding: 2px;
    min-height: 152px;
    min-width: 156px;
    border: solid 1px #444;
    z-index: 10000;
}
div#dp-popup h2 {
    font-size: 12px;
    text-align: center;
    margin: 2px 0;
    padding: 0;
}
a#dp-close {
    font-size: 11px;
    padding: 4px 0;
    text-align: center;
    display: block;
}
a#dp-close:hover {
    text-decoration: underline;
}
div#dp-popup a {
    color: #000;
    text-decoration: none;
    padding: 3px 2px 0;
}
div#dp-popup div#dp-nav-prev {
    position: absolute;
    top: 2px;
    left: 4px;
    width: 100px;
}
div#dp-popup div#dp-nav-prev a {
    float: left;
}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div#dp-popup div#dp-nav-prev a, div#dp-popup div#dp-nav-next a {
    cursor: pointer;
    font-size: 180%;
    line-height: 8px;
}
div#dp-popup div#dp-nav-prev a.disabled, div#dp-popup div#dp-nav-next a.disabled {
    cursor: default;
}
div#dp-popup div#dp-nav-next {
    position: absolute;
    top: 2px;
    right: 4px;
    width: 100px;
}
div#dp-popup div#dp-nav-next a {
    float: right;
}
div#dp-popup a.disabled {
    cursor: default;
    color: #aaa;
}
div#dp-popup td {
    cursor: pointer;
}
div#dp-popup td.disabled {
    cursor: default;
}

table.jCalendar td {
    color: white;
    font-weight: bold;
}
table.jCalendar td.other-month {
    font-weight: normal;
    color: #AAAAAA !important;
}
table.jCalendar td.notactive {
    background-color: white;
    color: #666666;
    cursor: default !important;
}

table.jCalendar td.active {
    background-color: #ADC6F5;
    color: #222222;
    cursor: pointer;
}

html>body table.jCalendar td.other-month.active {
    background-color: #eeeeee !important;
    color: #c0c0c0;
    cursor: pointer;
}

* html table.jCalendar td.active {
    ruby-align: expression( runtimeStyle.rubyAlign = 'auto',is_other = (className.indexOf('other-month') >= 0), style.backgroundColor = (is_other) ? '#EEEEEE' : '#ADC6F5',style.color = (is_other) ? '#c0c0c0' : '#222222');
}

.samo_container input.date {
	padding-right: 17px;
	background-repeat: no-repeat;
	background-position: 100% 0%;
	padding-left: 2px;
    height: 18px;
    width: 88px;
    background-image: url('images/calendar.png');
}
.samo_container .date-active-btn {
    cursor: pointer;
}

.samo_container .ORDER_NOT_CONFIRMED {
	background-color:  #ffcccc;
}

.samo_container .ORDER_AWAITING {
	background-color:  #ffff00;
}

.samo_container .ORDER_CONFIRMED {
	background-color:  #ccffcc;
}

.samo_container .ORDER_NO_ANSWER {
	background-color:  #aaaaaa;
	color: #ffffff;
}

.samo_container .status {
	text-align: center;
}

.samo_container table.res td.o_status {
	padding: 0 !important;
}

#system-error {
    clear: both;
    text-align: center;
    font-weight: bold;
    color: red;
    font-size: 16px
}
.blue {
    color: blue;
}
.red {
    color: red;
}
.green {
    color: green;
}
.bold {
    font-weight: bold;
}
.dark_red {
    color: #7F0000;
}

fieldset#icaptcha {
    width: 120px;
    height: 48px;
}

/* search.css */
.samo_container table.std {
    border-spacing: 15px;
    width: 100%;
    ruby-align: expression( runtimeStyle.rubyAlign = 'auto', cellSpacing = 15);
}
.samo_container table.std table{
    width: 100%;
}
.samo_container .npp {
    color: #E4E4E4;
    font-size: 1.5em !important;
    padding-left: 0px;
    padding-right: 20px;
    text-align: left !important;
}
.samo_container select#CURRENCYINC{
    width: 5em;
}
.samo_container select#TOWNFROMINC, .samo_container select#STATEINC {
    width: 20em;
}
.samo_container .spin-botton .price{
    width: 5em !important;
}
.samo_container .ctop {
    padding: 0px 3px 5px 3px;
}
.samo_container .ctop .l {
    color: #2b4379;
}
.samo_container .n2 {
    width: 50%;
}
.samo_container .n3 {
    width: 50%;
}
.samo_container .n4 td {
    border-right: 1px solid #e4e4e4;
}
.samo_container .n4 .tdl {
    border-right: 0px !important;
/*    padding-top: "0.5em";*/
}
.samo_container .div_hotel_param table tbody td {
    padding-top: 0px;
}
.samo_container span.fr_place_l, .samo_container span.fr_place_r{
    background-repeat: no-repeat;
    background-position: 0px 0px;
    display: table-cell;
    height: 14px;
    width: 21px;
}
.samo_container span.p2{
    background-position: -21px 0%;
}
.samo_container span.p3{
    background-position: -42px 0%;
}
.samo_container table.res th.w42 {
    width: 42px;
}
.samo_container .price_legend {
    border-collapse: separate;
    border-spacing: 3px;
    margin: auto;
    display: none;
}
#resultset tr.red_row td{
    background-color: #FFAFB6 !important;
}
#resultset tr.green_row td{
    background-color: #A8CFAB !important;
}
#search_tour td.price {
    font-style: italic;
    color: #666;
}
#search_tour span.bron {
    cursor: pointer;
    font-weight: bold;
    color: blue;
}
#search_tour span.bron:hover {
    text-decoration: underline;
    color: magenta;
}
.samo_container table.res span.fr_place_r {
    background-image: url('f_right.gif');
}
.samo_container table.res span.fr_place_l {
    background-image: url('f_left.gif');

}

.samo_container .div_hotel_param {
    width: 100%; clear: both;
}

#search_tour input.hotelsearch {
    font-size: 11px;
}
#HOTELS {
    width: 32em;
}
#TOWNTO {
    width: 15em;
}
#STARS, #MEAL {
    width: 10em;
}

#search_tour select.spin {
    width: 42px;
}

#search_tour .n5 label{
    display: block;
    float: left;
    width: 33%;
}

#search_tour .n5 label input {
    margin-right: 10px;
}

.samo_container {
    display: block !important;
}

#search_tour table.res th.info {
    text-align: center;
    font-weight: bold;
    color: red;
}

#search_tour input.price {
    width: 50px;
    height: 18px;
}

#child_ages, #child_ages .age {
    visibility: hidden;
}

#child_ages .age {
    width: 40px;
}

#search_tour td.panel {
    vertical-align: top;
}

#child_ages td.input {
    text-align: left;
    padding-left: 8px;
}
.samo_container td.c {
    width: 44px;
}

#search_tour .crosstour {
    cursor: pointer;
}