<template>
	<ul class="list-unstyled">
		<div v-if="resultsData.length > 0">
			<li v-for="(hotel, index) in resultsData" class="animated fadeInRight mb-2 pt-2 pb-2">
				<div class="card bg-light">

					<!--СПИСОК ТУРОВ В ОТЕЛЬ-->
					<div class="p-3 tours-list bg-light" v-bind:id="'tours-' + hotel.hotelcode">
						<div class="d-block">
							<div class="row d-flex align-items-center bg-light" :class="{'hiddenTours' : key > 2, 'open' : showHiddenTours}" v-for="(tour, key) in hotel.tours.tour">
								<div class="col-12 text-muted mb-3">{{tour.tourname}}</div>
								<div class="col-6 col-md-2">
									<p><strong>{{tour.flydate}}</strong></p>
									<p>{{tour.nights}} ночей</p>
								</div>
								<div class="col-6 col-md-3">
									<p><strong>{{tour.meal}}</strong></p>
									<p :title="hotel.mealrussian">{{tour.mealrussian}}</p>
								</div>
								<div class="col-6 col-md-2">
									<p><strong>{{tour.room}}</strong></p>
									<p :title="hotel.placement">{{tour.placement}}</p>
								</div>
								<div class="col-6 col-md-2">
									<p><strong>{{tour.operatorname}}</strong></p>
									<p><img v-bind:src="'https://tourvisor.ru/pics/operators/searchlogo/'+tour.operatorcode+'.gif'" alt=""></p>
								</div>
								<div class="col-12 col-md-3">

									<!-- ЦЕНЫ -->
									<div class="text-success text-left text-md-right mb-0">
										за тур
										<span class="price h3" @click.prevent="getDetail(tour.tourid)">{{tour.price | formatPrice}}</span>
									</div>
									<div class="text-muted text-left text-md-right">
										без скидки: <s class="h5">{{tour.price | getOldPrice}}</s>
									</div>
									<div class="text-danger text-left text-md-right mb-2 price"  data-toggle="modal" :data-fast-tour-id="tour.tourid" data-info="credit" data-target="#fastOrderModal">
										в кредит 6 мес.: <span class="h5">{{tour.price | getCreditPrice}}</span>
										<p><small>(стоимость без первоначального взноса)</small></p>
									</div>
								</div>

								<!-- КНОПКИ -->
								<div class="col-12 d-flex flex-column flex-md-row justify-content-end text-right">
									<a href="#" class="btn btn-primary btn-sm ld-ext-left mx-1 mb-1" :class="'detail-btn_'+tour.tourid" @click.prevent="getDetail(tour.tourid)">
										Тур подробно
										<div class="ld ld-ring ld-spin"></div>
									</a>

									<!-- ОТКЛЮЧАЕМ ДОБАВЛЕНИЕ В КОРЗИНУ -->
									<!-- a class="btn btn-outline-primary btn-sm mx-1 mb-1" href="#" @click.prevent="addTour2Basket(tour.tourid, $event)">В корзину</a -->
									<a class="btn btn-outline-orange btn-sm mx-1 mb-1" href="javascript:void(0)" data-toggle="modal" :data-fast-tour-id="tour.tourid" data-target="#fastOrderModal">Заказать в 1 клик</a>
								</div>

								<div class="col-12">
									<hr>
								</div>
							</div>
						</div>
						<div class="col-12 text-center">
							<button class="btn btn-primary" @click="toggleHiddenTours">
								<span v-if="!showHiddenTours">Показать все туры в отель <i class="fa fa-chevron-down"></i></span>
								<span v-if="showHiddenTours">Скрыть туры <i class="fa fa-chevron-up"></i></span>
							</button>
						</div>
					</div>
				</div>

			</li>
		</div>
		<div v-else>
			<div class="col-12 display-6 mt-5 mb-5 text-center text-success" v-if="!toursNotFound">
				Нажмите кнопку "Искать", для начала поиска
			</div>
			<div class="col-12 display-7 mt-5 mb-5 text-center text-danger" v-if="toursNotFound">
				Упс! Извините, но по заданным параметрам туров не найдено. Попробуйте изменить парметры поиска и снова нажать кнопку "Найти" <br>
				Либо отставьте заявку на подбор тура для наших менеджеров.
			</div>
		</div>
	</ul>
</template>


<script>
    export default {
        name: 'com-results',
        props: ['resultsData', 'searchUrl', 'toursNotFound'],
        data() {
            return {
                showHiddenTours: false,
                obHotelsDescr: {},
                obBanners: {
//                    0: {
//                        name: "Баннер 1",
//                        img: "",
//                    },
//                    1: {
//                        name: "Баннер 2",
//                        img: "",
//                    },
                },
            }
        },
        methods: {

            //Детальная актуализация, взывает модальное окно
            getDetail: function (tourid) {
                var detailParams = {
                    tourid: tourid,
                };

                $('.detail-btn_' + tourid).addClass('running');

                var myModal = new jBox('Modal', {
                    onClose: function () {
                        $('.jBox-Modal').remove();
                        //$('.jBox-overlay').remove();
                        $('.detail-btn_' + tourid).removeClass('running');
                    },
                });

                myModal.open({
                    responsiveWidth: true,
                    responsiveHeight: true,
                    width: "950",
                    height: "900",
                    closeButton: true,
                    blockScroll: true,
                    ajax: {
                        url: '/local/components/newtravel.search/full.search.v2/templates/.default/detail.php',
                        data: detailParams,
                        reload: 'strict',
                        spinner: true,
                    },
                });
            },

	        toggleHiddenTours :function () {
                this.showHiddenTours = !this.showHiddenTours;
                if(!this.showHiddenTours)
                $('html, body').animate({scrollTop: $('#results').offset().top}, 100);
            },

            //Добавление тура в корзину
            addTour2Basket: function (tourid, event) {
                this.$http.get('/local/modules/newtravel.search/lib/ajax.php', {params: {type: "addToToursBasket", tourid: tourid}}).then(function (response) {
                    if (response.body === 'success') {
                        $(event.target).text('Добавлено');
                        if (window.tbs !== undefined) {
                            window.tbs.getCount();
                        }
                    }
                });
            },

        },
        filters: {
            formatPrice: function (value) {
                return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ") + ' Р';
            },

            getOldPrice: function (value) {
                value = parseInt(value) + parseInt(value * 0.11);
                return Math.round(value).toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ") + ' Р';
            },

            getCreditPrice: function (value) {
                value = (parseInt(value) + parseInt(value * 0.0717)) / 6;
                return Math.round(value).toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ") + ' Р';
            },



            shortText: function (value) {
                let sliced = value.slice(0, 100);
                if (sliced.length < value.length) {
                    sliced += '...';
                }

                return sliced;

            },


            displayNights: function (value) {
                if (!value) {
                    return "";
                } else {
                    var titles = ['ночь', 'ночи', 'ночей'];
                    value = parseInt(value);
                    return value + " " + titles[(value % 10 == 1 && value % 100 != 11 ? 0 : value % 10 >= 2 && value % 10 <= 4 && (value % 100 < 10 || value % 100 >= 20) ? 1 : 2)];
                }
            },


        }

    }
</script>