div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

.caroufredsel-prev {
    position: absolute;
    left: 15px;
    bottom: 200px;
    font-size: 40px;
}

.caroufredsel-next {
    position: absolute;
    right: 15px;
    bottom: 200px;
    font-size: 40px;
}