/* ==========================================================================
   17. About Me
========================================================================== */
/* 17.1 Wrapper
---------------------------------------------------------------------------*/
.about-me-wrapper {
    width: 100%;
}

.about-me {
    width: 100%;
}

/* 17.2 image Cover
---------------------------------------------------------------------------*/
.about-me .img-cover {
    z-index: 1;
    position: relative;
}

/* 17.3 image
---------------------------------------------------------------------------*/
.about-me .member-img {
    width: 150px;
    height: 115px;
    margin: -115px 0 30px 30px;
    z-index: 2;
    position: relative;
}

/* 17.4 info
---------------------------------------------------------------------------*/
.about-me .member-info {
    z-index: 3;
    position: relative;
    margin: -104px 0 30px 180px;
}

/* 17.5 Typography
---------------------------------------------------------------------------*/
.about-me .member-info h2,
.about-me .member-info h3 {
    padding: 0 10px;
    padding-bottom: 0;
    text-transform: uppercase;
}

.about-me .member-info h2 {
    color: #ffffff;
    font-weight: 400;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* ==========================================================================
   7. Фотогалерея страны
========================================================================== */
/* 7.1 Wrapper
---------------------------------------------------------------------------*/
.resort-gallery {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    /*overflow: hidden;*/
    list-style: none;
    text-align: center;
}

/* 7.2 items
---------------------------------------------------------------------------*/
.resort-gallery li {
    float: left;
    padding: 4px;
    width: 150px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 0 0px 15px 15px;
    background-color: #ffffff;

    -webkit-border: 1px solid #e4e4e4;
    -moz-border: 1px solid #e4e4e4;
    -o-border: 1px solid #e4e4e4;
    border: 1px solid #e4e4e4;
}

.resort-gallery li .img-figure {
    margin: 0;
    z-index: 0;
    height: auto;
    overflow: hidden;
    position: relative;
}

.categories_resort ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.categories_resort ul li {
    font-size: 15px;
    position: relative;
    padding-left: 10px;
    float: left;
    width: 170px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.categories_resort ul li:last-child {
    margin-bottom: 0;
}

.categories_resort ul li:before {
    left: 0;
    color: #00aeef;
    content: "\f105";
    font-style: normal;
    position: absolute;
    font-family: 'FontAwesome';
}

.categories_resort ul li a:hover {
    padding-left: 5px;
}

.categories_resort .tab-content {
    background: #fff;
    padding: 10px;
    box-shadow: none;
}

/* 7.3 Overlayer
---------------------------------------------------------------------------*/
.img-figure-overlayer {
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);

    -webkit-border: 4px solid #ffffff;
    -moz-border: 4px solid #ffffff;
    -o-border: 4px solid #ffffff;
    border: 4px solid #ffffff;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.img-figure-overlayer a {
    top: 50%;
    width: 40px;
    height: 40px;
    color: #ffffff;
    font-size: 20px;
    margin-top: -20px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    background-color: #0E90D2;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.img-figure-overlayer a:first-child {
    left: 50%;
    line-height: 42px;
    margin-left: -40px;
}

.img-figure-overlayer a:last-child {
    right: 50%;
    margin-right: -45px;
}

/* 7.4 Title Caption
---------------------------------------------------------------------------*/
.resort-gallery li .title-caption {
    left: 0;
    z-index: 2;
    width: 100%;
    bottom: 4px;
    height: auto;
    overflow: hidden;
    position: absolute;
}

.resort-gallery li .title-caption span {
    padding: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    letter-spacing: 1px;
    background-color: rgba(227, 224, 226, 0.2);
    font-family: "Lato", Helvetica, Arial, sans-serif;
}

.resort-gallery li .title-caption span:before {
    top: 0;
    left: 0;
    content: '';
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.resort-gallery li .title-caption span:first-child {
    float: left;
    margin-left: 4px;
}

.resort-gallery li .title-caption span:last-child {
    float: right;
    font-size: 18px;
    margin-right: 4px;
}

/* 7.5 image
---------------------------------------------------------------------------*/
.resort-gallery li .img-figure img {
    width: 100%;
    display: block;
    position: relative;
}

/* 7.6 Hover
---------------------------------------------------------------------------*/
.resort-gallery li:hover .img-figure-overlayer {
    opacity: 1;
}

.img-figure-overlayer a:hover {
    color: #ffffff;
    background-color: #333333;
}

.country_list {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
}

.country_list img {
    width: 40px;
    height: 40px
}

.country_list li {
    padding: 5px
}
.popular-resorts {
    float: left;
    padding: 10px 15px;
    border: 1px solid #ccc;
    background: #0E90D2;
    color: #fff;
    font-size: 16px;
}
.popular-resorts:hover {
    color: #fff;
    background: #00aeef;
}

.all-resorts {
    padding: 10px 0;
    border: 1px solid #ccc;
    background: #fff;
    color: #000;
    text-align: center;
    font-size: 16px;
}


