
/* 5.9 Tour Section
---------------------------------------------------------------------------*/
.tour-section {
    padding: 30px 0;
    background-image: url(/images/tropical.png);
}

.tour-search {
    padding: 30px;
    background: #fff;
}

.tour-form-top {
    background: #56C9F4;
    padding: 20px;
}

.tour-form-top .input-group {
    width: 170px;
}

.daterangepicker td.in-flydate{
    background: #F1F1F1;
    border-radius: 0;
}

.daterangepicker td.in-range{
    background: #B3E8FF;
}

.daterangepicker td.active, .daterangepicker td.active:hover{
    background-color: #357ebd;
    border-color: #3071a9;
    color: #fff;
}

/*Выбор ночей*/
#nights-select {
    padding: 5px;
    border: 1px solid #ccc;
    width: 100%;
    display: table;
    background-color: #fff;
    display: none;
    z-index: 9;
    position: absolute;
    top: 30px;
    right: 0px;
}

#nights-select>strong {
    color: #00AEEF;
}

#nights-select table tr>td {
    border: 1px solid #DEDEDE;
    padding: 5px;
    background-color: #f7f7f7;
    text-align: center;
    cursor: pointer;

    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;

}

#nights-select .in-range {
    background: #B3E8FF !important;
}

#nights-select table tr>td:hover{
    background: #B3E8FF;
}
#nights-select table tr>td:active {
    background: #a3d4e9;
}

#nights-select .from-active, #nights-select .to-active {
    background: #357ebd !important;
    border-color: #3071a9;
    color: #fff;
}


.tour-body {
    margin-top: 20px;
}

.tour-form-sidebar {
    background: #f0f0f0;
    padding: 20px 20px;
}

.tour-form-sidebar .selectboxit-container, .tour-form-sidebar .selectboxit  {
    width: 100% !important;
}

#mealSelectBoxItText, #ratingSelectBoxItText {
    width: 95%;
    max-width: none !important;
}

.tour-form-sidebar .form-horizontal select{
    width: 100% !important;
}

.tour-form-sidebar .form-horizontal .checkbox-inline  {
    width: 100px;
    font-size: 14px;
}

.tour-form-sidebar .rating-container, .tour-form-sidebar .rating-container .rating-stars  {
    line-height: 1;
    font-size: 26px;
}

.tour-form-sidebar .rating-container .rating-stars  {
    color: #f1c40f;
}

.price-box  {
    background-color: #F7F7F7;
    border: 1px solid #E4E4E4;
    padding: 0px 5px;
    margin-top: 10px;
    font-size: 13px;
}



.tour-form-sidebar .whiteBg {
    overflow: auto;
    padding: 5px 1px;
    border: 1px solid #e4e4e4;
    background: #fff;
}

.tour-form-sidebar .customScroll{
    overflow: auto;
    position: relative;
    margin: 0px;
    height: 200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tour-form-sidebar .customScroll ul{
    list-style: none;
    padding: 0 15px;
    font-size: 14px;
}

.tour-form-sidebar .customScroll ul li>input{
    margin-right: 10px;
}

.tour-form-sidebar .customScroll .mCSB_scrollTools .mCSB_draggerRail{
    background-color:#fff;
    /*background-color:rgba(0,0,0,.4);*/
    filter:"alpha(opacity=40)";
    -ms-filter:"alpha(opacity=40)"
}
.tour-form-sidebar .customScroll .mCSB_dragger .mCSB_dragger_bar {
    background-color:rgba(86, 201, 244, 0.75);
}

.tour-form-sidebar .form-control {
    background: #fff;
}

.tour-form-sidebar .rating-container {
    overflow: visible;
}

.tour-form-sidebar .slider {
    width: 100% !important;
}
.tour-form-sidebar .slider .slider-selection {
    background-color: #00AEEF !important;
    background-image: none;
}
.tour-form-sidebar .slider .slider-handle {
    background-color: #56C9F4;
    background-image:none;
}
.selectboxit-container .selectboxit-options {
    /*width: 120px;*/
    max-height: 240px;
}
.tour-form-sidebar .timer .is-countdown {
    border: none;
    background: none;
    margin-bottom: 20px;
}

.tour-form-sidebar .timer .is-countdown > span {
    padding: 10px 0;
    display: block;
    text-align: center;
    font-size: 46px;
    color: #00AEEF;
}

.tour-form-sidebar .additional-list {
    list-style: none;
    padding-left: 15px;
    padding-top: 10px;
}

.tour-form-sidebar .additional-list li span{
    display: inline-block;
    vertical-align: super;
    font-size: 14px;
}
.tour-form-sidebar .additional-list li i{
    width: 35px;
    color: #00AEEF;
}

.tour-form-content {
    padding-right: 0;
}
.tour-form-content .progress-section {
    background: #f0f0f0;
    padding: 20px 0 0 0;
    margin-bottom: 10px;
}
.tour-form-content .progress-bar {
    background-color: #0BB521
}

.tour-form-content .tours-section {
    padding: 5px 0 0 0;
}
.tour-form-content .tour-list {
    padding: 0;
    list-style: none;
}
.tour-form-content .tour-item {
    background: #fff;
    border: 1px solid #E7E7E7;
    margin-bottom: 10px;
    overflow: auto;
    padding: 5px 0;
}
.tour-form-content .tour-img {
    padding-top: 30px;
}
.tour-form-content .item-hotel-name {
    text-transform: uppercase;
}
.tour-form-content .tour-item-resort {
    font-size: 70%;
}
.tour-form-content .item-hotel-stars {
    color: #f1c40f;
}

.right-group{
     padding: 0px;
 }
.tour-form-content .item-rating{
    margin-bottom: 5px;
}

.tour-form-content .item-rating span {
    padding: 5px 12px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #A0CFA0;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}
.tour-form-content .tour-item-min-price {
    width: 100%;
    line-height: 1.3;
    padding-bottom: 10px
}

.tour-form-content .tour-item-min-price span {
    display: block;
    background: #8FC400;
    padding: 10px;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
    font-weight: bold;
}
.tour-form-content .tour-item-min-price span:hover {
    background: #79aa00;
}
.tour-form-content .tour-item-min-price span:active {
    background: #8FC400;
}

.tour-form-content .tours-table thead{
    font-size: 75%;
}

.tour-form-content .tours-table>tbody tr td{
    vertical-align: middle;
}

.tour-form-content .tours-table .price{
    font-size: 120%;
    font-weight: bold;
    color: #747474;
}

.tour-form-content .p0 {
    padding: 0;
}
.nvisble {visibility: hidden}

/* Tours Kid's age
---------------------------------------------------------------------------*/

.kidsCount, .adultsCount {
    display: flex;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f7f7f7;
    padding: 10px 5px;
}
.kidsCount {
    padding: 10px 45px;
}

.kidsCount div, .adultsCount div{
    margin-right: 30px;
    color: #00AEEF;

    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.kidsCount div:hover, .adultsCount div:hover, .kidsCount .active, .adultsCount .active{
    color: #333333;
}

.kidsCount div:last-child, .adultsCount div:last-child{
     margin-right: 0px;
 }

#noKids {
    color: #ccc;
}

#childage1SelectBoxIt, #childage2SelectBoxIt, #childage3SelectBoxIt  {
    width: 80px !important;
    margin: 0 10px;
}

.tour-form-top .kidsAge{
    display: none;
}

.tour-form-top .tourists-total {
    display: inline-block;
    padding-left: 8px;
    padding-right: 35px;
    background: #fff url('/images/select.png') no-repeat 100% 50%;
    cursor: pointer;
}
.tour-form-top .tourists-total:hover {
    border-color: #66afe9;
}

.tour-form-top .toursit-select * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    outline: none;
}

.tour-form-top .toursit-select {
    position: relative;
    display: inline-block;
}

.tour-form-top .toursit-select .tourists {
    width: 330px;
    position: absolute;
    top: 290px;
    right: 0px;
    display: none;
    padding: 9px;
    margin-top: -261px;
    height: auto;
    background-color: #fff;
    border: 1px solid #ebebeb;
    cursor: default !important;
    z-index: 500;

    box-shadow: 0px 0px 14px;
    -webkit-box-shadow: 0px 0px 14px;
    -moz-box-shadow: 0px 0px 14px;
    -ms-box-shadow: 0px 0px 14px;
    -o-box-shadow: 0px 0px 14px;
}

.tour-form-top .toursit-select .tourists p { white-space: nowrap; }

.tour-form-top .toursit-select.tourists ul.age {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.tour-form-top .toursit-select .tourists ul.age > li { display: inline-block; margin-left: 4px; vertical-align: middle; }
.tour-form-top .toursit-select .tourists ul.age > li:first-child { margin: 0; }

.tour-form-top .toursit-select .tourists label {
    line-height: 100%;
    font-weight: normal;
}
.tour-form-top .toursit-select .tourists select {
    display: inline-block;
    margin-left: 3px;
    width: 60px;
    vertical-align: top;
}

.tour-form-top #age-select { margin: 0; }
.tour-form-top #age-select > span.selectboxit-container { margin-left: 4px; }


.tour-form-top .toursit-select .tourists .age .btn {
    padding: 6px 10px;
    font-size: 17px;
    border-width: 0;
    vertical-align: top;
}

#departureValue, #countryValue {
    width: 160px;
}

/* ==========================================================================
   Hotel
========================================================================== */
/* Hotel title
---------------------------------------------------------------------------*/
.hotel-title {
    width: 100%;
    margin-bottom: 30px;
}
.hotel-title h3 {
    text-transform: uppercase;
    margin: 0;
}

.hotel-stars {
    margin-right: 10px;
}
.hotel-stars .icon {
    margin-left: 4px;
    display: inline-block;
    height: 24px;
    font-size: 19px;
    line-height: 20px;
    vertical-align: middle;
}
.hotel-stars .icon:first-child {
    margin: 0;
}
.hotel-stars .icon:before {
    margin: 0;
    width: auto;
    height: auto;
    text-align: center;
}

/* Hotel info
---------------------------------------------------------------------------*/
.hotel-info {
    float: right;
    margin-bottom: 30px;
}
.hotel-info > span {
    margin-left: 10px;
}
.hotel-info > span:first-child {
    margin-left: 0;
}

.hotel-type .icon {
    margin: 0 2px;
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #333;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    background: #ddd;
    border-radius: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.hotel-type .icon:hover {
    color: #fff;
    background: #00aeef;
}
.hotel-type .icon:before {
    margin: 0;
    width: auto;
    height: auto;
    text-align: center;
}

/* Hotel details
---------------------------------------------------------------------------*/
.hotel-details p { margin-bottom: 0; }
.hotel-details h3 { text-transform: uppercase; }
.hotel-details span { color: #333; }

.hotel-details .hotel-spec-item {
    position: relative;
    padding-left: 45px;
    margin-bottom: 30px;
}
.hotel-details .hotel-spec-item:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #00aeef;
    font-family: "fontello";
    font-size: 30px;
    line-height: 1em;
    text-align: center;
}
.hotel-spec-item.i-contacts:before { content: '\e812'; }
.hotel-spec-item.i-info:before { content: '\e811'; }
.hotel-spec-item.i-beach:before { content: '\e810'; }


/* Tour Search Form
---------------------------------------------------------------------------*/
.hotel-tour-form a.show-all {
    display: inline-block;
    margin-top: 15px;
    border-bottom: 1px dotted;
}
.hotel-tour-form {
    margin-bottom: 30px;
}
.hotel-tour-form-title {
    margin-bottom: 13px;
}
.hotel-tour-form-title {
    text-transform: uppercase;
}

.hotel-tour-form-line {
    display: block;
    margin-bottom: 10px!important;
}

.hotel-tour-form .calendar {
    display: inline-block;
    background: #fff url('../images/calendar.png') no-repeat 100% 50%;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    outline: none;
}
.hotel-tour-form .calendar:hover {
    border-color: #66afe9;
}

.banner {
    padding: 0!important;
    background-color: rgba(0, 170, 239, 0.2) !important;
    overflow: hidden !important;
    height: 120px;
}

#regions>li>span {
    display: block;
    margin-left: 20px;
}
#regions>li>span input{
    margin-right: 5px;
}

.tour-form-top .show-filter-link {
    color: #ffffff;
    display: block;
    margin-top: 10px;
    margin-left: 5px;
}

/*Адаптив*/
@media only screen and (max-width: 991px) {
    .tour-form-top .input-group {width: 100%}
    #departureValue, #countryValue {
        width: 100%;
    }

    .tour-form-sidebar {
        display: none;
    }

    .tour-form-sidebar .form-horizontal .checkbox-inline, .tour-form-sidebar .customScroll ul {
        font-size: 16px;
    }

    .right-group{
        padding: 15px;
    }

}

@media (min-width: 992px){
    .col-md-8 {
        width: 64.666667%;
    }
}