#currency-container {color:#5f6677;font-size:20px;padding-left:15px;}
#usd-container {width:60px;height:31px;background:url(images/USD.gif) left no-repeat;padding-left: 25px; padding-top: 10px;font-size:20px;}
#eur-container {width:60px;height:31px;background:url(images/EUR.gif) left no-repeat;padding-left: 25px; padding-top: 10px;font-size:20px;}