.detail-tour-badge {
    font-size: 1em;
    padding-left: 0;
    font-weight: 300;
}

.detail-tour-badge i {
    border-radius: 50%;
    padding: 12px 15px;
}

#jBox2-overlay {
    z-index: 10000;
}
