@-webkit-keyframes greenPulse {
    from {
        background-color: #d82310;
        -webkit-box-shadow: 0 0 9px #cbcbcb;
    }
    50% {
        background-color: #e52310;
        -webkit-box-shadow: 0 0 18px #e52310;
    }
    to {
        background-color: #be2310;
        -webkit-box-shadow: 0 0 9px #cbcbcb;
    }
}

/*========================================================================================
    Оформление тура
=========================================================================================*/
.order-page h1 {
    color: #00AEEF;
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
    padding-bottom: 0;
}

.order-page .tour-data-body h3 {
    padding: 0 0 5px;
}

.tour-data-body .list-unstyled li {
    margin: 5px 0;
}

.order-page .sub-title {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
}

.order-page .gray-section {
    padding: 10px 0 10px;
}

.order-page .hotelimage {
    width: 100%;
}

.order-page .section-inner {
    background: #fff;
    border: 1px solid #E7E7E7;
    padding: 10px 0;
    overflow: hidden;
    position: relative;
}

.order-page .tour-data-header, .order-page .tour-data-body, .order-page .tour-data-footer {
    overflow: hidden;
    margin-bottom: 5px;
}

.order-page .tour-data-footer .badge-more {
    color: #fff;
    border-color: #42a9f3;
    background: -webkit-gradient(linear, left top, left bottom, from(#5ec7ff), to(#4bacff));
    background: linear-gradient(#5ec7ff, #4bacff);
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
}

.order-page .tour-data-footer .badge-more:hover {
    border-color: #3c96da;
    background: -webkit-gradient(linear, left top, left bottom, from(#56ace2), to(#479ae9));
    background: linear-gradient(#56ace2, #479ae9);
}

.order-page .tour-data-header h3 {
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 0;
}

.order-page .tour-data-body {
    border-bottom: 1px solid #EAEAEA;
}

.order-page .list-label {
    font-size: 14px;
    padding: 0;
    display: inline-block;
    width: 150px;
}

.order-page .tour-data-body div:first-child {
}

.order-page .list {
    list-style: none;
    padding: 0;
    height: 100%;
}

.order-page .list li {
    margin-bottom: 5px;
}

.order-page .list li span.title {
    text-transform: uppercase;
    display: inline-block;
    width: 200px;
}

.order-page .list li span.price {
    font-size: 28px;
    color: #00AEEF;
}

.order-page .turoperator-data .col-md-4 {
    text-align: center;
}

.order-page .turoperator-data .item {
    margin-top: 15px;
    padding: 10px;
    background: rgba(0, 174, 239, 0.3);
    display: block;
    overflow: hidden;
    font-size: 20px;
    position: relative;
    -webkit-box-shadow: 1px 2px 5px #ccc;
    -moz-box-shadow: 1px 2px 5px #ccc;
    box-shadow: 1px 2px 5px #ccc;
}

.order-page .turoperator-data .item:hover {
    background: rgba(0, 174, 239, 0.39);
}

.order-page .turoperator-data .item label {
    display: block;
}

.order-page .turoperator-data .item .price {
    font-size: 28px;
    color: #00AEEF;
    font-weight: bold;
    padding: 0;
}

.order-page .turoperator-data .sub-item {
    margin: 0 15px 15px 15px;
    background: #f0f0f0;
    text-align: center;
    padding: 10px;
    overflow: hidden
}

.order-page .turoperator-data .sub-item label {
    margin: 0;
}

.order-page .turoperator-data .sub-item .small > span {
    color: #a2a2a2;
}

.order-page .turoperator-data .sub-item .small > span {
    color: #a2a2a2;
}

.order-page form .form-group {
    margin: 0;
}

.order-page .tourist-data .tourist-item {
    border: 1px solid #f3f3f3;
    overflow: hidden;
    margin: 5px 15px;
    padding: 10px 5px;
    background: #F5F5F5;
}

.order-page .tourist-data .tourist-item .sex {
    margin-right: 10px;
}

.order-page .tourist-data h3 {
    padding-bottom: 5px;
    margin-top: 10px;
}

.order-page .tourist-data #infant h3 {
    padding-bottom: 5px;
    margin-top: 0px;
}

.tourist-data .alert {
    line-height: 2;
}

.zigzag {
    width: 100%;
    height: auto;
    max-height: 260px;
    -webkit-transition: max-height .5s;
    transition: max-height .5s;
    position: relative;
}

.zigzag .expand-tourists {
    position: absolute;
    left: 0;
    right: 0;
    top: 215px;
    padding: 0px;
    width: 50px;
    height: 50px;
    border: 2px solid;
    border-radius: 50%;
    line-height: 57px;
    text-align: center;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.75);
    z-index: 9;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    color: #bce8f1;
}

.zigzag .expand-tourists:hover {
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.19);
    background: rgb(245, 252, 255);
}

.zigzag.active .expand-tourists {
    bottom: -30px;
    top: auto;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.zigzag.active {
    height: auto;
    max-height: 3000px;
}

.zigzag.active:before {
    display: none;
}

.zigzag:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    right: 0px;
    width: 100%;
    height: 20px;
    -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.3) 0px -1px 0px);
}

.tourist-data:before {
    background: linear-gradient(
            45deg, transparent 33.333%,
            #f7f7f7 33.333%, #f7f7f7 66.667%,
            transparent 66.667%
    ),
    linear-gradient(
            -45deg, transparent 33.333%,
            #f7f7f7 33.333%, #f7f7f7 66.667%,
            transparent 66.667%
    );
    background-size: 20px 40px;
    z-index: 9;
}

.order-page .pay-data .oferta-text {
    overflow-y: scroll;
    height: 300px;
    margin: 0 70px;
    border: 1px solid #B7B7B7;
}

.order-page .pay-data .payment-list {
    list-style: none;
    padding: 0;
    margin: 15px
}

.order-page .pay-data .payment-list .title {
    text-transform: uppercase;
    color: #00aeef
}

.order-page .pay-data .payment-list li {
    background: #F5F5F5;
    margin-bottom: 5px;
    height: 100%;
    padding: 5px;
    overflow: hidden;
}

.order-page .pay-data .payment-list li:hover {
    background: #eaeaea;
}

.order-page .pay-data .payment-list li input {
    float: left;
}

.order-page .pay-data img {
    height: 100px;
    width: 100px;
    margin: 0 20px;
    float: left;
}

.order-page .pay-data .payment-list li label {
    float: right;
    width: 85%;
    font-weight: normal;
}

.order-page .pay-data .payment-list .comment-line {
    height: 200px
}

.order-page .pay-data .payment-list .comment-line textarea {
}

.itogo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
}

.price {
    font-size: 26px !important;
    color: #00aeef !important;
    padding: 0 !important;
    font-weight: normal !important;
}

.tour-data-body .price.discount {
    color: #FDAF37 !important;
}

/*==========================================================================================
    Служебные
============================================================================================*/
.yes {
    color: #35cf76;
}

.no {
    color: #e74c3c;
}

div#order_form_content .errortext {
    background: none !important;
    border: none !important;
    border-radius: 0 !important;
    display: block !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    text-shadow: none !important;
}

.tag {
    font-family: Helvetica, Arial, sans-serif;
    background: #fdaf37;
    display: inline-block;
    color: #fff;
    position: absolute;
    right: -30px;
    top: 45px;
    padding: 7px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 0 30px 0 0;
    text-decoration: none;
    transform: rotate(90deg);
    z-index: 10;
}

.tag:hover {
    background-color: #efa336;
}

.tag:before {
    background: #fff;
    width: 10px;
    height: 10px;
    content: "";
    display: inline-block;
    border-radius: 20px;
    margin: 0 5px 0 0;
}

.tag:after {
    display: inline-block;
    border: 19px solid;
    border-color: transparent transparent transparent #fdaf37;
    height: 0;
    width: 0;
    position: absolute;
    right: -38px;
    top: 0;
    content: "";
    display: inline-block;
}
.tag:hover:after {
    border-color: transparent transparent transparent #efa336;
}


/*============================================================
    Старые стили
==============================================================*/
#order_form_div .sale_data-table.summary td {
    background: #fff !important;
}

#order_form_div {

}

#order_form_div .sof-req {
    color: red;
    font-size: 10px;
}

#order_form_div .clear {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0px;
    line-height: 0px;
}

#order_form_div .sale_order_table {
    font-size: 12px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

#order_form_div .sale_order_table td {
    padding: 15px 0;
    background: none !important;
}

#order_form_div .sale_order_table .name {
    width: 190px;
    text-align: left;
    vertical-align: top;
}

#order_form_div .sale_order_table.props td {
    border-bottom: 1px solid #dcdfe2;
}

#order_form_div .sale_order_table input[type="text"],
#order_form_div .sale_order_table textarea,
#order_form_div .sale_order_table select {
    width: 365px;
}

#order_form_div .sale_order_table textarea {
    height: 70px;
    overflow: hidden;
    resize: none;
}

#order_form_div .sale_order_table select {
    padding: 6px 3px 6px 8px;
    width: 383px;
    margin-bottom: 5px;
}

#order_form_div .sale_order_table .desc {
    color: #a3a3a3;
    font-size: 11px;
    margin: 3px 0;
}

/*paysystem*/
#order_form_div .sale_order_table.paysystem td {
    border-bottom: none;
}

#order_form_div .sale_order_table .ps_logo {
    float: left;
    text-align: center;
    margin: 0 15px 10px 0;
    height: 85px;
}

#order_form_div .sale_order_table .with_description {
    margin-right: 0 !important;
    height: 30px;
}

#order_form_div .sale_order_table .ps_logo img,
#order_form_div .sale_order_confirm img,
#order_form_div .account img {
    border-radius: 2px;
    border: 1px solid #d1d1d1;
    box-shadow: 2px 2px 2px rgba(180, 188, 191, 0.5);
    padding: 1px;
    float: left;
}

div.bx_section div.bx_block div.bx_element input[type=radio],
div.bx_section div.bx_block div.bx_element input[type=checkbox],
#order_form_div .sale_order_table .ps_logo input[type=radio],
#order_form_div .account input[type=checkbox] {
    display: none;
}

.bx_element input[type=radio]:checked + label .bx_logotype,
.bx_element label.selected .bx_logotype {
    border: 2px solid #2d739d !important;
    padding: 1px;
}

#order_form_div .paysystem_name {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
#order_form_div .payment-descr {
    font-size: 16px;
}

#order_form_div .sale_order_table .paysystem_name,
#order_form_div .sale_order_confirm .paysystem_name {
    font-size: 11px;
    color: #a3a3a3;
    width: 95px;
    line-height: 11px;
    margin-top: 65px;
}

#order_form_div .account img,
#order_form_div .account .desc {
    float: left;
}

#order_form_div .account img {
    margin-right: 10px;
}

#order_form_div .account .name {
    font-weight: bold;
    margin-bottom: 3px;
    color: #000;
}

#order_form_div .account .desc {
    font-size: 11px;
    color: #a3a3a3;
    line-height: 11px;
    text-align: left;
    width: 80%;
}

#order_form_div .account .desc.width_limited {
    width: 100%;
}

#order_form_div .account .ps_logo.with_description {
    width: 100%;
}

/*delivery*/
#order_form_div .sale_order_table.delivery td {
    padding: 7px 0;
}

#order_form_div .sale_order_table.delivery .name {
    font-weight: bold;
    width: auto;
    color: #000;
}

#order_form_div .sale_order_table.delivery .desc {
    color: #a3a3a3;
    width: 400px;
}

#order_form_div .sale_order_table.delivery td table {
    width: auto;
}

#order_form_div .sale_order_table.delivery td table td {
    padding: 0;
    text-align: left;
}

#order_form_div .sale_order_table.delivery .prop img {
    border-radius: 2px;
    border: 1px solid #d1d1d1;
    box-shadow: 2px 2px 2px rgba(180, 188, 191, 0.5);
    padding: 1px;
    margin: 0 10px 0 0;
}

#order_form_div .sale_order_table.delivery .prop input,
#order_form_div .sale_order_table.delivery .prop img,
#order_form_div .sale_order_table.delivery .prop .desc {
    float: left;
    margin-right: 10px;
}

#order_form_div .sale_order_table.delivery .prop input[type=radio] {
    display: none;
}

/*summary*/
#order_form_div .sale_data-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-top: 10px;
}

#order_form_div .sale_data-table th {
    background-color: #f5f5f5;
    padding: 7px 13px;
    text-align: left;
    font-weight: normal;
}

#order_form_div .sale_data-table td {
    border-bottom: 1px solid #f5f5f5;
    padding: 7px 13px;
    text-align: left;
    background: none !important;
}

#order_form_div .sale_data-table td.price {
    white-space: nowrap;
    text-align: right;
}

#order_form_div .sale_data-table td.itog {
    text-align: right;
}

#order_form_div .sale_data-table tfoot td {
    border-bottom: none;
}

#order_form_div .sale_data-table tfoot tr.last td {
    border-top: 1px solid #f5f5f5;
    font-weight: bold;
    white-space: nowrap;
}

#order_form_div .order_comment {
    width: 100%;
}

#order_form_div .order_comment div {
    color: #a3a3a3;
    font-size: 12px;
    margin-bottom: 5px;
}

#order_form_div .order_comment textarea {
    width: 97%;
    height: 70px;
}

/* auth */
#order_form_div .order-auth {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

#order_form_div .order-auth td {
    text-align: left;
    vertical-align: top;
}

#order_form_div .sale_order_table.delivery .errortext {
    margin: 0;
    font-size: 11px;
    padding: 5px;
    width: 230px;
}

#order_form_div .sale_order_full_table td.ps_logo {
    text-align: left;
    vertical-align: top;
}

#order_form_div .pay_name {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
}

#order_form_div .desc .ora-store {
    font-size: 12px;
}

.store_location {
    display: none;
}

.store_location .ora-store {
    width: 40%;
    float: left;
}

.store_location .ora-store table td {
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

.store_location .name {
    font-weight: bold;
}

.store_location .location {
    width: 60%;
    float: left;
}

#order_form_div .select_store {
    font-size: 12px;
}

.image {
    padding: 5px 0 5px 0;
}

/* new */

.bx_order_make {
}

.bx_order_make hr {
    border: none;
    border-bottom: 1px solid #dcdfe2;
}

.bx_order_make .bx_section {
    margin-bottom: 20px;
}

.bx_order_make .bx_section h4 {
    display: block;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #dcdfe2;
}

.bx_order_make .bx_block {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 0 10px;
    vertical-align: middle;
}

.bx_order_make .bx_block.r1x3.pt8 {
    padding-top: 8px
}

.bx_order_make .bx_block.r1x3 {
    margin: 0;
    width: 20%
}

.bx_order_make .bx_block.r3x1 {
    margin: 0;
    width: 80%
}

.bx_order_make .bx_block.w100 {
    margin: 5px 0 10px 0;
    width: 100%
}

.bx_order_make .bx_block.horizontal {
    margin: 5px 0 10px 0
}

@media (max-width: 640px) {
    .bx_order_make .bx_block.r1x3 {
        width: 35%
    }

    .bx_order_make .bx_block.r3x1 {
        width: 65%
    }
}

@media (max-width: 480px) {
    .bx-touch .bx_order_make .bx_block.r1x3,
    .bx-touch .bx_order_make .bx_block.r3x1 {
        float: none;
        margin-right: 0;
        width: 100%;
    }
}

.bx_order_make .bx_sof_req {
    color: rgba(199, 31, 31, 1);
    font-weight: bold
}

.bx_order_make .bx_logotype {
    box-shadow: 0 0 3px 0 rgba(123, 152, 165, .9);
    cursor: pointer;
    padding: 2px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(123, 152, 165, .7);
    margin-right: 20px;
}

.bx_order_make .bx_block.horizontal .bx_logotype {
    margin-right: 0
}

.bx_order_make .bx_logotype span {
    display: block;
    width: 100px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
}

.bx_order_make .bx_logotype.active,
.bx_order_make .bx_logotype:hover {
    box-shadow: 0 0 3px 0 rgba(0, 93, 153, 1);
    border: 1px solid rgba(0, 93, 153, .8);
    padding: 2px;
}

.bx_order_make .bx_description {
    font-size: 11px;
    color: #a3a3a3;
    /*float: left;*/
}

.bx_order_make .bx_description p {
    display: block;
    /*clear: both*/
}

.bx_order_make .bx_result_price {
    color: #000 !important;
    float: right;
    text-align: right;
}

.bx_order_make .bx_result_price a {
    font-weight: normal;
}

@media (max-width: 640px) {
    .bx_order_make .bx_result_price {
        float: none;
        display: block;
        width: 100%;
    }
}

.bx_order_make .bx_result_price a {
    color: #12a9e1
}

.bx_order_make .bx_result_price a:hover {
    text-decoration: none
}

.bx_order_make .bx_description strong {
    display: block;
    color: #000;
    /*float: left;*/
}

.bx_ordercart .bx_ordercart_order_table_container tbody .right {
    text-align: right !important;
}

div#order_form_content div.bx_section div#sale_order_props div div.bx_block textarea {
    margin-bottom: 10px;
}

.aside h3.title {
    color: #00AEEF;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}

.aside .white-section {
    margin-top: 56px;
    background-color: #ffffff;
    border: 1px solid #E7E7E7;
    padding-top: 0;
    overflow: hidden;
}

.aside .help-btn-wrap {
    display: inline-flex;
}

.aside .help-btn-wrap > span {
    /* display: none; */
    z-index: 0;
    background: #ffd8d7;
    color: #b33d3d;
    padding: 5px 6px 0 15px;
    height: 60px;
    width: 190px;
}

.aside .help-btn {
    background: -webkit-gradient(linear, left top, left bottom, from(#ea594a), to(#d82310));
    background: linear-gradient(#ea594a, #d82310);
    border: 1px solid #d43f3a;
    padding: 15px 20px;
    color: #fff;
    font-size: 28px;
    display: block;
    margin: 0 0 10px 5px;
    z-index: 1;
    transition: background-color 300ms ease-out;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: greenPulse;

}

.aside .help-btn:hover, .aside .help-btn:focus, .aside .help-btn:active {
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 0px white;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 0px white;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    text-decoration: none;
    color: #92160f;
}

.aside.sticky-content {
    position: absolute;
    right: 25px;
    width: 285px;
}

.sticky-content.fixed {
    position: fixed;
    top: 50px;
    right: 25px;
    opacity: 1;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
    z-index: 1;
}

.sticky-content.disable {
    opacity: 0;
    z-index: -3;
}

.sticky-content.fixed > section {
    width: 255px;
    margin-top: 15px;
}

.aside .list {
    list-style: none;
    padding: 0;
    height: 100%;
}

.aside .list li {
    margin-bottom: 12px;
}

.aside .list li span.title {
    text-transform: uppercase;
    display: inline-block;
}

.aside .list li span.aside_price {
    font-size: 20px;
    color: #00AEEF;
    float: right;
}

.aside .is-countdown {
    border: none;
    background-color: transparent;
    font-size: 30px;
    margin-top: 10px;
}

.aside .is-countdown > span {
    padding: 10px;
}

@media only screen and (max-width: 1199px) {
    .tour-data-body img {
        padding-top: 5px;
    }

    .aside h3.title {
        font-size: 16px;
    }

    .aside .list li span.aside_price {
        font-size: 16px;
    }

    .aside .list li span.title {
        font-size: 13px;
    }

    .sticky-content.fixed > section {
        width: 255px;
    }

    .aside.sticky-content {
        right: 0;
    }

}

@media only screen and (max-width: 479px) {
    .order-page .tour-data-body h3 {
        font-size: 18px;
    }

    .tour-data-body img {
        width: auto;
    }

    .price {
        margin: 10px 0;
        display: inline-block;
    }

    .order-page h1 {
        font-size: 22px;
    }

    #order_form_div {
        padding: 0;
    }

}

@media only screen and (max-width: 990px) and (min-width: 768px) {
    .order-page .pay-data .payment-list li label {
        width: 75%;
    }
}

@media (min-width: 768px){

}