#advantage .card .card-img-overlay {
  background: rgba($blue, 0.6);
  font-weight: bold;

  visibility: visible;
  opacity: 1;

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#advantage .card:hover .card-img-overlay {
  opacity: 0;
  visibility: hidden;
}
