#contacts {
  position: relative;
}
#googlemaps {
  height: 500px;
  width: 100%;
  z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}

.contact-card {
  position: absolute;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);

  width: 400px;
}


@media (max-width: 768px) {

  #googlemaps {
    height: 600px;
  }

}
