.header {
  //overflow: hidden;
}

.header a:hover {
  text-decoration: none;
}

.header-search-container {
  position: relative;
  transition: all .3s;
}

.header-search-container__logo-line {
  background: rgba(0, 0, 0, 0.26);
}

.header-search-container__logo-line img {
  width: 250px;
}

.header-search-container__title .display-3 {
  font-size: 3rem;
  color: #ffffff;
}

.header-search-container__title .h4 {
  color: #ffffff;
}

.header-search-container__form input {
  border-right: 1px solid $gray-400;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-radius: 0;
}

.header-search-container__form form div > div:first-child input{
  border-radius: 5px 0 0 5px;
}
.header-search-container__form form div button{
  border-radius: 0 5px 5px 0;
}

@media (max-width: 992px) {
  .video-background {
    width: auto;
  }
}
