.pay-systems .card{
  cursor: pointer;

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.pay-systems .card:hover{
  background-color: rgb(229, 229, 229);
}




/*PRELOADER*/
.preload{
  background: rgba(109, 109, 109, 0.28);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loader{
  width: 90px;
  height: 90px;
  margin: 40% auto;
}
.loader .loader-inner{
  width: 60px;
  height: 60px;
  position: relative;
  margin: 0 auto;
}
.loader .loader-inner div{
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #00bee0;
  position: absolute;
  top: 10px;
  left: 10px;
  transform-origin: 20px 20px;
  -webkit-animation: loading-1 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
  animation: loading-1 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}
.loader .loader-inner .box-2{
  top: 10px;
  left: auto;
  right: 10px;
  transform-origin: -4px 20px;
  -webkit-animation: loading-2 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
  animation: loading-2 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}
.loader .loader-inner .box-3{
  top: auto;
  left: auto;
  right: 10px;
  bottom: 10px;
  transform-origin: -4px -4px;
  -webkit-animation: loading-3 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
  animation: loading-3 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}
.loader .loader-inner .box-4{
  top: auto;
  bottom: 10px;
  transform-origin: 20px -4px;
  -webkit-animation: loading-4 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
  animation: loading-4 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}
.loader .text{
  display: block;
  font-size: 12px;
  color: #00bee0;
  text-align: center;
}
@-webkit-keyframes loading-1{
  0% {
    transform: rotate(90deg);
  }
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-1{
  0% {
    transform: rotate(90deg);
  }
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loading-2{
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-2{
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loading-3{
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-3{
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loading-4{
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-4{
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}