
/*==========================================
     Our Skills Style
  ========================================= */
.page-heading{
  position: relative;
  margin-bottom: 20px;
}
.page-heading h1 {
  font-size: 24px;
  margin-bottom: 5px;
}
.page-heading p {
  font-size: 16px;
  color: #777;
}
.skill-block {
  overflow: hidden;
  padding: 5px 15px 15px;
  text-align: center;
  box-shadow:1px 2px 6px 2px rgba(0, 0, 0, 0.1);
  margin: 15px auto;
}
.sk-border h2 {
  color: #777;
  display: inline-block;
  font-size: 48px;
  font-weight: 900;
  height: 200px;
  width: 180px;
}
.sk-border{
  text-align: center;
  line-height: 100px;
  position:relative;
  z-index:0;
  margin: 70px auto;
}
.sk-border,
.sk-border:before,
.sk-border:after{
  border-style: solid;
  border-color: #26AAE3;
  border-width: 7px;
  border-top: none;
  border-bottom: none;
  height: 80px;
  width: 183px;
}
.sk-border:after,
.sk-border:before{
  content: "";
  position: absolute;
  top:0;
  left: -7px;
  z-index: -1;
}
.sk-border:before{
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-border:after{
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.sk-text h4 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-top: 20px;
}