@import "../../src/sass/vars";
/*bootstrap*/
@import "../../bower_components/bootstrap/scss/bootstrap-reboot";
@import "../../bower_components/bootstrap/scss/utilities";
@import "../../bower_components/bootstrap/scss/utilities/spacing";
@import "../../bower_components/bootstrap/scss/utilities/sizing";
@import "../../bower_components/bootstrap/scss/utilities/text";
@import "../../bower_components/bootstrap/scss/utilities/display";
@import "../../bower_components/bootstrap/scss/utilities/visibility";
@import "../../bower_components/bootstrap/scss/utilities/align";
@import "../../bower_components/bootstrap/scss/utilities/flex";
@import "../../bower_components/bootstrap/scss/type";
@import "../../bower_components/bootstrap/scss/grid";
@import "../../bower_components/bootstrap/scss/navbar";
@import "../../bower_components/bootstrap/scss/buttons";
@import "../../bower_components/bootstrap/scss/forms";
@import "../../bower_components/bootstrap/scss/card";
@import "../../bower_components/bootstrap/scss/images";
@import "../../bower_components/bootstrap/scss/tables";
@import "../../bower_components/bootstrap/scss/type";
@import "../../bower_components/bootstrap/scss/close";
@import "../../bower_components/bootstrap/scss/alert";
@import "../../bower_components/bootstrap/scss/transitions";
@import "../../bower_components/bootstrap/scss/button-group";
@import "../../bower_components/bootstrap/scss/input-group";
@import "../../bower_components/bootstrap/scss/modal";
@import "../../bower_components/bootstrap/scss/progress";
@import "../../bower_components/bootstrap/scss/badge";
@import "../../bower_components/bootstrap/scss/popover";
@import "../../bower_components/bootstrap/scss/media";
@import "../../bower_components/bootstrap/scss/nav";
@import "../../bower_components/bootstrap/scss/dropdown";
@import "../../bower_components/bootstrap/scss/carousel";
@import "../../bower_components/bootstrap/scss/list-group";
@import "../../bower_components/bootstrap/scss/breadcrumb";

/*vendors*/
@import "../../bower_components/simplebar/dist/simplebar";
@import "../../bower_components/fancybox/dist/jquery.fancybox";
@import "../../bower_components/slick-carousel/slick/slick.scss";
@import "../../bower_components/slick-carousel/slick/slick-theme.scss";
@import "../../bower_components/owl.carousel/dist/assets/owl.carousel";
@import "../../bower_components/owl.carousel/dist/assets/owl.theme.default";
@import "../../bower_components/font-awesome/scss/font-awesome";
@import "../../bower_components/jquery-date-range-picker/src/daterangepicker";
@import "../../bower_components/jbox/Source/jBox";
@import "../../bower_components/flipclock/compiled/flipclock";
@import "vue-form-wizard.min";
/*project*/
@import "../../src/sass/header";
@import "../../src/sass/advantages";
@import "../../src/sass/contacts";
@import "../../src/sass/footer";
@import "../../src/sass/our_skills";
@import "../../src/sass/search";
@import "../../src/sass/blog";
@import "../../src/sass/order";

.display-5 {
  font-size: $display5-size;
  font-weight: $display5-weight;
  line-height: $display-line-height;
}

.display-6 {
  font-size: $display6-size;
  font-weight: $display6-weight;
  line-height: $display-line-height;
}

.display-7 {
  font-size: $display7-size;
  font-weight: $display7-weight;
  line-height: $display-line-height;
}

.display-8 {
  font-size: $display8-size;
  font-weight: $display7-weight;
  line-height: $display-line-height;
}

.bg-info table a {
  color: #ffffff;
  border-bottom: 1px dashed #fff;
}

.bg-info a:hover {
  text-decoration: none;
  border-bottom: none;
}

.simplebar-scrollbar {
  background: #8c8c8c;
}

.date-picker-wrapper {
  z-index: 10002;
}

.badge-lg {
  font-size: 1.2em;
  padding: 10px 15px;
}

.date-picker-wrapper {
  border: none;
}

.date-picker, .date-picker-wrapper {
  font-size: 14px;
  font-family: Roboto, sans-serif;
}

.date-picker-wrapper .in-flydate {
  background: #e4e4e4;
  border-radius: 0;
}

.fancybox-arrow--right {
  right: 20%;
}

.fancybox-arrow--left {
  left: 20%;
}

.modal-backdrop {
  z-index: 10001;
}

.modal {
  z-index: 10002;
}

.popover {
  max-width: 320px;
}

/*quote*/
blockquote {
  border-left: none
}

.quote-badge {
  background-color: rgba(0, 0, 0, 0.2);
}

.quote-box {
  overflow: hidden;
  border-radius: 17px;
  margin-top: 25px;
  color: white;
  padding: 0 50px;
  width: 100%;
}

.quote-text {
  font-size: 19px;
}

.quote-text.open {
  height: auto !important;
}

.slick-dots li.slick-active button:before, .slick-dots li button:before {
  color: #fff;
}

.slick-arrow {
  z-index: 1;
}
.slick-next {
  right: 10px;
}
.slick-prev {
  left: 10px;
}

[v-cloak] {
  display: none;
}

.load-spinner {
  display: none;
}

[v-cloak].load-spinner {
  display: block;
}



.dropdown-toggle:after {
  vertical-align: middle;
}

@media (max-width: 768px) {
  .fancybox-arrow--right {
    right: 0;
  }
  .fancybox-arrow--left {
    left: 0;
  }

  #jBox1.jBox-wrapper {
    top: 40px !important;
  }

  #jBox1 .jBox-content {
    height: 600px !important;
  }
}
