//
// Color system
//

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-250: #efefef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$grays: (
        100: $gray-100,
        200: $gray-200,
        250: $gray-250,
        300: $gray-300,
        400: $gray-400,
        500: $gray-500,
        600: $gray-600,
        700: $gray-700,
        800: $gray-800,
        900: $gray-900
);

$blue: #26ABE3;
$light-blue: #6ed3ff;
$dark-blue: #0a4468;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #FF5B00;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$light-green: lighten($green, 50%);

$colors: (
        blue: $blue,
        light-blue: $light-blue,
        dark-blue: $dark-blue,
        indigo: $indigo,
        purple: $purple,
        pink: $pink,
        red: $red,
        orange: $orange,
        yellow: $yellow,
        green: $green,
        light-green: $light-green,
        teal: $teal,
        cyan: $cyan,
        white: $white,
        gray: $gray-600,
        gray-dark: $gray-800
);

$theme-colors: (
        primary: $blue,
        light-blue: $light-blue,
        dark-blue: $dark-blue,
        secondary: $gray-600,
        success: $green,
        light-green: $light-green,
        info: $cyan,
        warning: $yellow,
        danger: $red,
        light: $gray-100,
        dark: $gray-800,
        darker: $gray-250,
        orange: $orange
);

$display5-size: 2.5rem;
$display6-size: 2rem;
$display7-size: 1.6rem;
$display8-size: 1.2rem;

$display5-weight: 300;
$display6-weight: 300;
$display7-weight: 300;

$popover-max-width: 100%;