.specialoffer-list > div {
    padding: 5px;
}

.specialoffer-list .item {
    position: relative;
    overflow: hidden;
}
.specialoffer-list div > .img-link {
    display: block;
    height: 310px;
}

.specialoffer-list div > .img-link:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.specialoffer-list .item_name  {
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
}
.specialoffer-list .item_price  {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 28px;
    color: #fff;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
}

.specialoffer-list .item_price:hover {
    background: rgba(0, 0, 0, 0.8);
}
.specialoffer-list .item_price .right {
    text-align: right;
}
.specialoffer-list .item_price .left {
    float: left;
    font-size: 20px;
}

.specialoffer-list .item_price span {
    text-transform: uppercase;
}

@media only screen and (max-width: 479px) {
    .specialoffer-list .item-wrap.col-xs-6 {
        width: 100%;
    }

}