<template>
	<div class="row">
		<div class="col-12">
			<div class="h5">Поиск туров из
				<div class="dropdown d-inline-block">
					<a href="javascript:void(0)" class="text-uppercase display-7 departure_wrap" id="departureValue" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{cityFromName}}</a>
					<div class="dropdown-menu select-dropdown bg-light" aria-labelledby="departureValue">
						<div class="scrollable-menu">
							<span class="dropdown-item" :class="{'bg-primary text-white' : departure == 99 }" @click="setDeparture(non_flight)">Без перелета</span>
							<span v-for="(item, letter) in groupedDepartures">
								<h6 class="dropdown-header">{{ letter}}</h6>
								<span class="dropdown-item" :class="{'bg-primary text-white' : departureItem.id == departure }"  v-for="departureItem in item" @click="setDeparture(departureItem)" v-if="departureItem.id != 99">{{departureItem.name}}</span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>


<script>
    export default {
        name: 'com-departure',
        props: ['departuresData', 'departure'],
        data() {
            return {
                cityFromName: "Уфы",
                non_flight: {
                    id:       99,
                    name:     "Без перелета",
                    namefrom: "Без перелета"
                }
            }
        },
        methods: {
            //Устанавливаем ID города
            setDeparture: function (departureItem) {
                this.cityFromName = departureItem.namefrom;
                this.$root.$data.departure = departureItem.id;
            },
        },
        computed: {
            //Группируем города по буквам
            groupedDepartures: function () {
                return _.groupBy(this.departuresData, function (s) {
                    return s.name.charAt();
                });
            },
        },
        watch: {
            departure: function () {
                this.cityFromName = _.find(this.departuresData, ['id', this.departure.toString()]) ? _.find(this.departuresData, ['id', this.departure.toString()]).namefrom : this.cityFromName;
            }
        }
    }
</script>