body.body-popup {margin:10px;}
div.empty {width:1px; height:1px; overflow:hidden;}

/* Popup menu */
td.popupmenu {border:1px solid #B6B6B6 !important; padding:1px !important; background-color:#FCFCFC !important; background-image:url(images/menu_gutter.gif) !important; background-repeat:repeat-y !important;}
td.popupmenu .popupitem {margin:1px !important; cursor:default !important;}
td.popupmenu .popupitemover {margin:0px !important; border:1px solid #AEB6C2 !important; background-color:#CEDAEE !important;}
td.popupmenu .popupitem .gutter {width:20px !important;}
td.popupmenu .popupitem .item {padding:3px 5px 3px 9px !important; font-size:11px !important; white-space:nowrap !important;}
td.popupmenu .popupitem .default {font-weight:bold !important;}
td.popupmenu .popupitem .disabled {color:#939393 !important;}
td.popupmenu .popupseparator {margin:1px 0px 1px 30px !important; background-color:#B6B6B6 !important; height:1px !important; overflow:hidden !important;}

/*Common actions icons */
td.popupmenu .popupitem .icon {width:20px !important; height:16px !important; background-position:center !important; background-repeat:no-repeat !important;}
td.popupmenu .popupitem .checked {background-image:url(images/checkbox.gif);}
td.popupmenu .popupitem .arrow {width:10px !important; background:transparent url(images/menu_arrow.gif) 2px center no-repeat !important;}

table.data-table-gadget {width: 100%; background-color:white; margin-bottom:10px;}

.gdparent { position: relative;}
.gdcorn {position:absolute; left: -1px; top: -1px; width: 4px; height: 4px; background-image:url(images/gadget.gif); overflow: hidden;}
.gdbcorn {position:absolute; left: -1px; top: -3px; width: 4px; height: 4px; background-image:url(images/gadget.gif); background-position: 0 -4px; overflow: hidden;}
.gdheader { padding: 0 0 3px 0; margin: 1px; font-family: Arial,Helvetica,sans-serif; font-size: 18px; font-weight: normal; color:#222; background:#fff; zoom:1; overflow: hidden; }
.ghheader-underline { height:2px; background: #d5d5d5 url(images/header-underline.png) no-repeat right 0; border-left:1px solid #e3e3e3;}

table.gadgetholder-mainpage td.gd-page-column1 .ghheader-underline, table.gadgetholder-dashboard td.gd-page-column1 .ghheader-underline { border-color:#f7b9b9; background-color: #f39999;}
table.gadgetholder-mainpage td.gd-page-column2 .ghheader-underline, table.gadgetholder-dashboard td.gd-page-column2 .ghheader-underline { border-color:#d4ddfc; background-color: #bbc9fa; }


.gdcontent {padding: 10px 10px 10px 0; zoom: 1;}


.gdheader-actions { float:right; cursor:default; display:none;}
.gdheader-hover .gdheader-actions { display:inline-block;}
.gdheader-title { margin-bottom:5px; margin-right: 70px;}

a.gdremove, a.gdsettings, a.gdhide, a.gdshow, a.gdshow:hover, a.gdremove:hover, a.gdsettings:hover, a.gdhide:hover 
{
	display:inline-block; 
	height:19px;
	width:19px; 
	margin-left:1px; 
	margin-top:0; 
	overflow:hidden;
	background-image:url(images/gadget.gif);
}
a.gdsettings {background-position: -4px 0;}
a.gdhide {background-position: -23px 0;}
a.gdremove {background-position: -42px 0;}
.gdhided a.gdhide {background-position: -61px 0;}


a.gdsettings:hover {background-position: -4px -19px;}
a.gdhide:hover {background-position: -23px -19px;}
a.gdremove:hover {background-position: -42px -19px;}
.gdhided a.gdhide:hover {background-position: -61px -19px;}

.gdnoparams {display:none!important;}

.gdhided .gdcontent {display:none;}

.gdoptions {padding: 4px; background-color: #e5e5e5;}
.gdsettrow {margin: 4px; }


div.bx-gd-buttons {margin-bottom: 30px; padding-left: 3px;}

div.bx-gd-button {height: 21px;float:left;}
div.bx-gd-button span {display: block; float: left; height: 21px; cursor: pointer;}

div.bx-gd-button span.bx-gd-text {background-position: left center; background-repeat: no-repeat; padding-left: 21px; display: block; text-decoration: none;}

div.bx-gd-button span.bx-gd-l {background: url(images/btn/btn_l.gif); width: 2px;}
div.bx-gd-button span.bx-gd-r {background: url(images/btn/btn_r.gif); width: 2px;}
div.bx-gd-button span.bx-gd-c {background: url(images/btn/btn_bg.gif);padding: 0 11px 0 7px; line-height: 20px;}

div.bx-gd-add span.bx-gd-text {background-image: url(images/btn/plus.gif);}
div.bx-gd-clear span.bx-gd-text {background-image: url(images/btn/del.gif);}
div.bx-gd-setdef span.bx-gd-text {background-image: url(images/btn/set.gif);}

div.bx-gd-setdef, div.bx-gd-clear {float: right; padding-left:10px;}

div.bx-gd-button a {display:block; color: black; text-decoration: none; font-size: 95%;}

.b-gadget-detail-url{
  float: right;
  clear: both;
  padding-left: 8px;
  background: url('images/marker.gif') no-repeat left 60%;
  line-height: 1.6em;
}

