.faq.panel-group .panel-heading {
    text-transform: uppercase;
}
.faq.panel-group .panel-title {
    padding: 0;
}
.faq.panel-group .panel-title > a{
    font-weight: 700;
    font-size: 20px;
}
.faq.panel-group .panel{
    margin-bottom: 15px;
    border-radius: 0;
}
.faq.panel-group .panel-body .descr{
    padding: 15px;
}

.faq .bxr-font-color {
    color: #00aeef;
}