/*==========================================================================================
    Мини форма поиска
============================================================================================*/
.simple-search-section {
    padding-top: 90px;
    background: url('/images/bg.jpg') 0px -150px;
    background-size: cover;
    background-position: center;
}

.simple-search-section .nav-tabs {
    border-bottom: none;
}

.simple-search-form {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid #56C9F4;
}

.simple-search-form #departureValue {
    color: #00aeef;
    border-bottom: 1px dashed;
    font-size: 22px;
    margin-left: 30px;
    cursor: pointer;

    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.simple-search-form #departureValue:hover {
    color: #0096d4;

}

.customScroll .mCSB_scrollTools .mCSB_draggerRail {
    background-color: #fff;
    /*background-color:rgba(0,0,0,.4);*/
    filter: "alpha(opacity=40)";
    -ms-filter: "alpha(opacity=40)"
}

.customScroll .mCSB_dragger .mCSB_dragger_bar, .customScroll .mCSB_dragger .mCSB_dragger_bar:hover {
    background-color: rgba(86, 201, 244, 0.75);
}

@media only screen and (max-width: 479px) {
    .simple-search-section {
        background: #f1f1f1 !important;
        padding: 10px 0 20px !important;
    }

    .simple-search-section .nav-tabs>li>a{
        padding: 10px 7px;
    }


}