body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.side-logo {
    padding: 10px;
    text-align: center;
    background: rgba(0, 170, 239, 0.01);
    position: relative;
}

.side-logo img {
    opacity: 0.2;
}

.side-logo > .auth-wrap {
    position: absolute;
    bottom: 30px;
    left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}